<div class="table-operations-header">
    {if $auth->isGranted('node/tickets/config-role-update', ['type' => $ticketType.id])}
    <a class="btn btn-success" href="/tickets/config-role-update/type/{$ticketType.id}" data-title="Dodaj nową rolę" data-toggle="tooltip"><i class="fa fa-plus"></i> &nbsp;Dodaj</a>
    {/if}
</div>

<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered example">
    <thead>
    <tr>
        <th data-filter-type="string">Nazwa</th>
        <th data-filter-type="select">Rodzaj</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {foreach $ticketType.roles as $role}
        <tr>
            <td>{$role.name}</td>
            <td>{smart_string_select value=$role.aspect config=Application_Service_TicketsConst::ROLE_ASPECTS}</td>

            <td class="operations">
                {if $auth->isGranted('node/tickets/config-role-update', ['id' => $role.id])}
                <a class="glyphicon glyphicon-pencil" href="/tickets/config-role-update/id/{$role.id}" data-toggle="tooltip" title="Edytuj"></a>
                {/if}
                {if $auth->isGranted('node/tickets/remove-config-role', ['id' => $role.id])}
                <a class="glyphicon glyphicon-trash modal-confirm" data-href="/tickets/remove-config-role/id/{$role.id}" data-confirmation-class="singleDelete" data-toggle="tooltip" title="Usuń"></a>
                {/if}
            </td>
        </tr>
    {/foreach}
    </tbody>
</table>