<div class="row">
    <div class="col-sm-12 col-md-6">
        <div class="widget-header">
            <h2>Szczegóły</h2>
        </div>
        <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-widget">
            <tbody class="ui-widget-content">
            <tr>
                <td class="min-width nowrap">Nazwa:</td>
                <td>{$exam.name|upper}</td>
            </tr>
            <tr>
                <td class="min-width nowrap">Kategoria: </td>
                <td>
                    {$exam.category_name}
                </td>
            </tr>
            <tr>
                <td class="min-width nowrap">Ilość pytań: </td>
                <td>
                    {$exam.questions_count}
                </td>
            </tr>
            <tr>
                <td class="min-width nowrap">Wymaganych poprawnych odpowiedzi: </td>
                <td>
                    {$exam.required_to_pass}
                </td>
            </tr>
            </tbody>
        </table>

        <hr>
        <div class="widget-header">
            <h2>Pytania i odpowiedzi</h2>
        </div>
        <div class="nestable dd" data-collapse="expandFirst">
            <ol class="dd-list">
                {foreach $exam.questions as $question}
                    <li class="dd-item">
                        <div class="dd-handle dd-nodrag">
                            {$question.question}
                        </div>
                        <ol class="dd-list">
                            <li class="message-list-entry">
                                <table>
                                    {foreach $question.answers as $answer}
                                        <tr><td>{$answer.answer}</td><td>{if $answer.is_correct}prawidłowa{/if}</td></tr>
                                    {/foreach}
                                </table>
                            </li>
                        </ol>
                    </li>
                {/foreach}
            </ol>
        </div>
    </div>
</div>
