
<div class="table-operations-header">
    <!-- {if $auth->isGranted('node/sites/update')}
    <a class="btn btn-success" id="sback" href="/systembackup/backup" data-title="Dodaj nową stronę" data-toggle="tooltip"><i class="fa fa-plus"></i> &nbsp;SystemBackup Now</a>
    {/if} -->
</div>
<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered example">
    <thead>
    <tr>
        <th data-filter-type="string">Subdomain</th>
        <th data-filter-type="string">Type</th>
        <th data-filter-type="string">Email</th>
        <th data-filter-type="string">Pending</th>
        <th data-filter-type="select">Created Date</th>
        <th width="175px;">Actions</th>
    </tr>
    </thead>
    <tbody class="ui-widget-content">
    {foreach $paginator as $d}

        <tr>            
            <td>{$d.subdomain}.kryptos24.pl</td>            
            <td>{$d.name}</td>            
            <td>{$d.email}</td>
            <td>
                {if $d.is_pending=='1'}                     
                    <i class="fa fa-circle" style="color:#cc0000;" title="Pending"><span class="select-item hiddenElement">TAK</span></i>
                {else if} 
                    <i class="fa fa-circle" style="color:#00cc00;" title="Complete"><span class="select-item hiddenElement">TAK</span></i>
                {/if}
            </td>
            <td>{$d.created_at}</td>
            <td>
                {if $auth->isGranted('node/osoby/update', ['id' => $d.subdomain])}
                    <a class="glyphicon glyphicon-pencil" href="/osoby/update/id/{$d.subdomain}" data-toggle="tooltip" title="Edytuj"></a>
                {/if}
                {if $auth->isGranted('node/osoby/repository-operations', ['id' => $d.subdomain])}
                    <a class="glyphicon glyphicon-align-justify" href="/osoby/repository-history/id/{$d.subdomain}" data-toggle="tooltip" title="Historia zmian"></a>
                {/if}
                {if $auth->isGranted('node/documents/user-documents', ['id' => $d.subdomain])}
                    <a class="glyphicon glyphicon-folder-open" href="/documents/user-documents/id/{$d.subdomain}" data-toggle="tooltip" title="Dokumenty"></a>
                {/if}
                {*<a class="glyphicon glyphicon-list" href="/osoby/upowaznienia-history/id/{$d.subdomain}" data-toggle="tooltip" title="HISTORIA UPOWAŻNIEŃ"></a>*}
                {if $auth->isGranted('node/osoby/reset-password', ['id' => $d.subdomain])}
                    <a class="glyphicon glyphicon-lock" href="/osoby/reset-password/id/{$d.subdomain}" data-toggle="tooltip" title="Generuj hasło"></a>
                {/if}

                {if $auth->isGranted('node/systembackup/del', ['id' => $d.subdomain])}
                    <a class="glyphicon glyphicon-trash modal-confirm" data-href="/trials/del/id/{$d.subdomain}" data-confirmation-class="singleDelete" data-toggle="tooltip" title="USUŃ"></a>
                {/if}
            </td>
        </tr>
    {/foreach}
    </tbody>
</table>
<script type="text/javascript">
$("#sback").click(function(){
	$("#sback").val('Please wait ...').attr('disabled','disabled');
})
</script>