.buildpath

.idea/*

application/configs/*
!/application/configs/application.ini.dist
!/application/configs/routes.php

cache/*
!cache/_template_c

data/*
!data/logs

files/*

library/Ext/HTMLPurifier/HTMLPurifier/DefinitionCache/Serializer/*/
library/mpdf60
library/PHPExcel
library/TCPDF
library/Zend
library/GusAPI


logs/*
tmp/*
tmp/*
assets/*

web/test.log
web/assets
web/uploads/*
!web/uploads/.htaccess
web/jawny-rejestr-zbiorow.dat
