<h1 id="fieldsHeader"></h1>
<br />
<input type="text" name="searcher" id="searcher" class="form-control" placeholder="Wpisz szukaną frazę" onkeyup="runOptsSearch();" />
<hr />
<div id="optsSearch">
<div class="optsnodata">Brak wyników spełniających podane kryteria wyszukiwania</div>
<div id="fieldsList">

</div>
</div>
<script type="text/javascript">
var itemData = jQuery.parseJSON('{$t_data->options nofilter}');
t_opts['itemssettings']['{$item}']['t_data']['t_data']['{$person}']['opts'] = itemData['t_data']['{$person}']['opts'];
console.log(itemData);
$('#fieldsHeader').html(itemData['t_data']['{$person}']['name']);
$.each(itemData['t_data']['{$person}']['opts'], function(i3,v3) {
   $('#fieldsList').append('<div class="selopt2bl">'+v3+'</div>');
   $('#fieldsList .selopt2bl:last').click(function(){
      var ide = $(this).html();
      if ( t_opts['itemssettings']['{$item}']['t_data']['t_data']['{$person}']['checked'][ide] == 1 ) {
         t_opts['itemssettings']['{$item}']['t_data']['t_data']['{$person}']['checked'][ide] = 0;
      } else {
         t_opts['itemssettings']['{$item}']['t_data']['t_data']['{$person}']['checked'][ide] = 1;
      }
      setOptsView(actualPersonTab,actualItemsTab);
      setElSel();
   });
   setElSel();
});
function setElSel() {
   $('.selopt2bl').each(function(){
      var ide = $(this).html();
      if ( t_opts['itemssettings']['{$item}']['t_data']['t_data']['{$person}']['checked'][ide] == 1 ) { $(this).addClass('active'); }
      else { $(this).removeClass('active'); }
   });
}
</script>