<style> 
    #groupModal<%groupModal%> .modal-body{
        min-height: 150px;
        max-height: 600px;
        overflow-y: auto;
    }
</style>
<div class="modal fade" id="groupModal<%groupModal%>" ng-controller="GroupIndex">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Grupy Przedmiotów</h4>
                <br/>
            </div>
            <div class="modal-body">
                <div class="form-horizontal col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                         <div class="container-fluid checkbox-inline col-md-12">
                             <div class="checkbox" >
                                <label class="col-md-6"  ng-repeat="group in groups">
                                    <input type="checkbox" ng-model="form.group[groupModalKey][group.nazwa]" ng-true-value="<%group.id%>"><% group.nazwa %>
                                </label>
                                 </div>
                         </div>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                            <div class="col-md-6 form-inline">
                                <div class="form-group">
                                    <label class="sr-only">Nazwa</label>
                                    <input class="form-control" placeholder="Podaj nazwe" type="text" ng-model="newGroup">
                                </div>
                                <button type="button" class="btn btn-default" style="margin-left: 10px;" ng-click="addNewGroup()"><i class="glyphicon glyphicon-plus"></i></button>
                            </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" ng-click="clearGroup(groupModalKey)">Wyczyść</button>
            </div>
        </div>
    </div>
</div>
