<div class="row page-small">
    <div class="col-sm-12">
        <div class="alert alert-danger">Uwaga! Odblokowane obiekty nie będą aktualizowane w ramach centralnej aktualizacji obiektów Platformy Kryptos dokonywanej przez Dostawcę.</div>
        <div class="well">
            Czy na pewno chcesz odblokować rodzaj osoby: <b>{$persontype.name}</b>
        </div>
        <form action="/persontypes/unlock-save">
            <input type="hidden" name="id" value="{$persontype.id}"/>
            <fieldset>
                <div class="row">
                    <div class="col-sm-12">
                        <a href="/persontypes/" class="btn btn-default">Powrót</a>
                        <button type="submit" class="btn btn-info">Odblokuj</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>