<aside class="menu-left">
	<ul class="tabs">
   		<li class="active"><a href="#tab-0">Ogólne informacje</a><div class="arrow"></div></li>
    	<li><a href="#tab-1">Korzyści</a><div class="arrow"></div></li>
        <li><a href="#tab-2">Warunki uzyskania</a><div class="arrow"></div></li>
        <li><a href="#tab-4">Licencje</a><div class="arrow"></div></li>
        <li><a href="#tab-5">Opłaty</a><div class="arrow"></div></li>
        <li><a href="#tab-6">Wiarygodność certyfikatu</a><div class="arrow"></div></li>
    </ul>
</aside>
<aside class="dla-firm">
	
 	<div id="tab-0" class="tab">
            <h1>Certyfikat bezpieczeństwa to znak jakości, a nie dyplom oferujący "<i>prestiż</i>"</h1>
            <p class="head">Czy wiesz dlaczego Facebook stracił, tylko w Wielkiej
Brytanii ponad 6 milionów fanów? 
</p>
    <p>Nie zapewnił odpowiedniej ochrony ich danych...  
    </p>
        <p>Udowodnij Konsumentom, że dbasz o bezpieczeństwo powierzonych Tobie danych! </p>
        <h1>Jak to zrobić</h1>
        <img src="/img/dlafirm_img.png" alt="dla firm kroki" style=" position:relative; right: 2px;" >
        <p style="font-size:16px;">Pójdź w ślady najlepszych</p>
        <p>Zbuduj wizerunek firmy na zaufaniu. Certyfikat Bezpieczeństwa to dokument wydany na 
podstawie testów eksperckich oraz oceny prawnej Twojej firmy.</p>
		<p>
        	<img class="arrow-another" src="/img/anoter-arrow.png" alt="another arrow"/>
            <span class="another-span">Każdy Laureat otrzyma szczegółowy raport bezpieczeństwa przygotowany w drodze 
certyfikacji zawierający ocenę aktualnego poziomu ochrony oraz zalecenia jak jeszcze 
zwiększyć bezpieczeństwo firmy.  </span>
        </p>
        <a class="see-example-report" href="#">Zobacz przykładowy raport</a>
        <hr />
        <h1 style="float:left; clear:both;">Jakie dane powierza mi Klient</h1>
        <p style="font-size:16px; color:#6a6977; float:
        left; clear:both;">Rodzaj powierzanych danych zależy od profilu firmy, najczęściej są to:</p>
        <ul>
        	<li>dane osobowe(również adres e-mail),</li>
            <li>tajemnice marketingowe,</li>
            <li>informacje stanowiące tajemnicę przedsiębiorstw,</li>
            <li>dane na temat płynności finansowej,</li>
            <li>dokumenty rejestrowe, urzędowe w formie skanów.</li>
        </ul>
    </div>
    <div id="tab-1" class="tab">
    	<h1>Buduj swój biznes<br>na bezpieczeństwie i zaufaniu</h1>
        <p>Zagwarantowanie odpowiedniego poziomu bezpieczeństwa niesie ze sobą czasem wysokie koszty, które Twoja firma zdecydowała się ponieść. Pamiętamy o tym i chcemy Twój trud realnie docenić, poprzez liczne korzyści i profity dla Twojej firmy. </p>
        <img class="etapy" src="/img/etapy_korzysci.png" />
        <ul class="vertical_tab">
        	<li>
            	<span class="nr">1</span><span>jak się zwiększy bezpieczeństwo w Twojej firmie?</span>
                <div>
                	<ul>
                    	<li>otrzymasz szczegółowy raport z testów bezpieczeństwa wykonanych podczas procesu certyfikacji. Znajdują się w nim również zalecenia jak chronić dane <img class="tooltip" src="/img/tt_inactive.png" alt="tooltip inactive" title="Cras porttitor, urna sed dapibus luctus, arcu massa rhoncus nunc, ultricies sodales odio orci non dolor." ></li>
                        <li>dowiesz się o aktualnych zagrożeniach i technikach kradzieży informacji, na które Twoja firma jest szczególnie podatna</li>
                        <li>dowiesz się jak dostosować politykę bezpieczeństwa w firmie do obowiązujących przepisów lub czy zrobiłeś to prawidłowo <img class="tooltip" src="/img/tt_inactive.png" alt="tooltip inactive" title="Cras porttitor, urna sed dapibus luctus, arcu massa rhoncus nunc, ultricies sodales odio orci non dolor." ></li>
                    </ul>
                </div>
            </li>
            <li>
            	<span class="nr">2</span><span>jak się zwiększy zaufanie do Twojej firmy?</span>
                <div>
                	<ul>
                    	<li>Konsumenci doceniają dbałość o ochronę powierzanych Tobie danych - czasem Informacja jest cenniejsza niż złoto i diament.</li>
                        <li>Twoja firma może dać im GRATIS większe poczucie bezpieczeństwa, niż Konkurencja - jak myślisz czyją ofertę wybiorą?</li>
                        <li>Konsumenci informowani są każdego dnia o korzyściach współpracy z przedsiębiorcami z Certyfikatem Bezpieczeństwa</li>
                    </ul>
                </div>
            </li>
            <li>
            	<span class="nr">3</span><span>jak się zwiększą zyski firmy?</span>
                <div>
                	<ul>
                    	<li>Konsument, który ufa Firmie i jej ofercie, chętniej skorzysta z usług i produktów</li>
                        <li>Będziemy promować Twoją firmę przez 12msc - w największych serwisach w Polsce oraz w największej wyszukiwarce na świecie - Google. </li>
                        <li>Przyprowadzimy do Twojej firmy Klientów. </li>
                    </ul>
                </div>
            </li>
        </ul>
        <p class="toniewszystko">
        	<b>To nie wszystko...</b> Poprowadzimy specjalną stronę internetową Twojej firmy, na której Konsument sprawdzi aktualność Certyfikatu Bezpieczeństwa. 
        </p>
        <a href="#"><img src="/img/zobacz_przyklad.png" alt="zobacz przyklad" ></a>
        <ul style="margin-top:30px;">
        	<li>Opis kampanii marketingowej i informacyjnej, realizowanej dla Firm posiadających 
    Certyfikat Bezpieczeństwa.</li>
    		<li>Certyfikat Bezpieczeństwa to znacznie więcej korzyści i profitów.</li>
        </ul>
	</div>
    <div id="tab-2" class="tab">
            <h1>PROSTE ZASADY</h1>

            <p style="text-align:center;"><strong>Wystarczy, że</strong><br>
            zadbasz o odpowiedni poziom bezpieczeństwa danych w Firmie<br>
            <strong>a otrzymasz</strong><br> 
            Certyfikat Bezpieczeństwa<br>
            <strong>dzięki niemu </strong><br>
            zwiększysz Jej sprzedaż i wzmocnisz wizerunek.</p>
            <br><br>
            <a href="/regulamin">Minimalne wymagania</a><br><br>
            <a href="/regulamin">Regulamin Certyfikatu Bezpieczeństwa</a>
    </div>
    <div id="tab-4" class="tab licencje">
            <h1>Licencje</h1>
            <p class="subinfo">Licencje są pakietami korzyści jakie płyną z posiadania Certyfikatu 
Bezpieczeństwa. Każda Licencja wydawana jest  na rok i pozwala na utrzymanie 
wysokiego poziomu bezpieczeństwa.</p>
            <h2 title="rozwiń/zwiń">Mikro firmy</h2>
            <ul>
            	<li>wymaganie: posiadanie jednej strony www</li>
                <li>1 audyt w ciągu roku</li>
                <li>nowa strona główna w ciągu roku, gdy był już wykonany audyt w ramach licencji(dodatkowy audyt 80 % cenny podstawowej)</li>
                <li>znak graficzny „Certyfikat Bezpieczeństwa” – umieszczenie na swojej stronie www, materiałach reklamowych, </li>
                <li>
                	<span>subdomena certyfikatu</span><br />
                	<ul style="width:100%; float:left; clear:both;">
                    	<li>możliwość umieszczenia logotypu,</li>
                        <li>opisu działalności do 100 znaków,</li>
                        <li>link do swojej strony www </li>
                        <li>dane kontaktowe – telefon, e-mail,</li>
                        <li>mapka z lokalizacją- siedziby</li>
                    </ul>
                </li>
                <li>podstawowa forma raportu z testów informatycznych</li>
                <li>informacja o zmianie przepisów</li>
                <li>publikacja o nadaniu certyfikatu na facebook, szyfruj.to</li>
                <li>rabat 5% na zakupy w sklepie i-storage.pl</li>
                <li>rabat na szkolenia – 5%</li>
            </ul>
            <h2 title="rozwiń/zwiń">Małe firmy, opcjonalnie Uczestnicy kwalifikujący się do 1 rodzaju</h2>
            <ul>
            	<li>Uczestnicy z poziomu 1, którzy posiadają 2-3 stron (cena za 1 stronę jak licencja 1 na dwie pozostałe rabat – cennik)</li>
                <li>nowa strona główna w ciągu roku, gdy był już wykonany audyt w ramach licencji(dodatkowy audyt 80 % cenny podstawowej)</li>
                <li>znak graficzny „Certyfikat Bezpieczeństwa” – umieszczenie na swojej stronie www, materiałach reklamowych, </li>
                <li>
                	<span>subdomena certyfikatu</span><br />
                	<ul style="width:100%; float:left; clear:both;">
                    	<li>możliwość umieszczenia logotypu,</li>
                        <li>opisu działalności do 100-200 znaków,</li>
                        <li>link do swoich stron www </li>
                        <li>dane kontaktowe – telefon, e-mail,</li>
                        <li>mapka z lokalizacją siedziby/odziału</li>
                    </ul>
                </li>
                <li>rozbudowana forma raportu z testów informatycznych</li>
                <li>informacja o zmianie przepisów, formułowanie zaleceń</li>
                <li>publikacja o nadaniu certyfikatu na facebook, szyfruj.to, goldenline, youtube, google+</li>
                <li>rabat 5% na zakupy w sklepie i-storage.pl</li>
                <li>rabat na szkolenia – 7%</li>
                <li>rabat na prowadzenie ABI</li>
            </ul>
            <h2 title="rozwiń/zwiń">Średnie i duże firmy, opcjonalnie Uczestnicy kwalifikujący się do 1 i 2 rodzaju</h2>
            <ul>
            	<li>2 audyty w ciągu roku</li>
                <li>nowa strona główna w ciągu roku, gdy był już wykonany audyt w ramach licencji(dodatkowy audyt 50 % cenny podstawowej)</li>
                <li>znak graficzny „Certyfikat Bezpieczeństwa” – umieszczenie na swojej stronie www, materiałach reklamowych, pomoc w przygotowaniu graficznym materiałów reklamowych</li>
                <li>
                	<span>subdomena certyfikatu</span><br />
                	<ul style="width:100%; float:left; clear:both;">
                    	<li>możliwość umieszczenia logotypu,</li>
                        <li>opisu działalności bez ograniczenia liczby znaków,</li>
                        <li>link do swoich stron www </li>
                        <li>dane kontaktowe – telefon, e-mail,</li>
                        <li>mapka z lokalizacją siedziby/odziału</li>
                        <li>możliwość umieszczenia video do prezentacji</li>
                        <li>umieszczenie referencji od klientów</li>
                    </ul>
                </li>
                <li>napisanie artykułu sponsorowanego</li>
                <li>informacja o zmianie przepisów, przygotowanie dokumentacji</li>
                <li>publikacja o nadaniu certyfikatu na facebook, szyfruj.to, goldenline, youtube, google+, biznesforum, zapytajexperta.pl</li>
                <li>rabat 5% na zakupy w sklepie i-storage.pl</li>
                <li>rabat na szkolenia – 10%</li>
                <li>rabat na prowadzenie ABI</li>
                <li>zaawansowana forma raportu z testów informatycznych</li>
                <li>pomoc w prowadzeniu swojego fanpage</li>
            </ul>
    </div>
    <div id="tab-5" class="tab">
            <h1>Atrakcyjna cena dla Każdej firmy!</h1>
        <p>Cena za proces certyfikacji jest na prawdę korzystna. Staramy się umożliwić dostęp każdej Firmie, do tego wyjątkowego wyróżnienia, na które Konsumenci zwracają coraz większą uwagę.</p>
        <img src="/img/oplata_banner.png" alt="opłaty banner" class="oplaty_banner">
        <p>Dzięki naszym partnerom mamy możliwość dla posiadających Certyfikat Bezpieczeństwa zaoferować niesamowitą listę korzyści, która ciągle rośnie...</p>
        <hr class="oplaty">
        <ul class="vertical_tab">
        	<li>
            	<span class="nr">1</span><span>Jak otrzymać Certyfikat z korzystnym rabatem / darmo?</span>
                <div>
                	<ul>
                    	<li>Jeśli Twoja Firma jest szczególnie zaangażowana w tematykę bezpieczeństwa i ochrony danych</li>
                        <li>Jeśli Twoja Firma podejmie współpracę w zakresie wsparcia realizowanych przez nas kampanii odnośnie Bezpieczeństwa</li>
                        <li>Jeśli możesz zaoferować firmom i instytucjom posiadającym Certyfikat Bezpieczeństwa różne korzyści, profity i rabaty</li>
                    </ul>
                </div>
            </li>
            <li>
            	<span class="nr">2</span><span>Co jeśli nie spełniam minimalnych wymagań?</span>
                <div>
                	<p>Po wypełnieniu wniosku, przeprowadzamy BEZPŁATNĄ analizę odnośnie minimalnych wymagań. Dopiero po ich spełnieniu realizowana jest płatność. W przypadku negatywnego przejścia wstępnej analizy, informujemy Firmę co musi zrobić by spełnić wymagania. Przesyłamy zalecenia. Po ich spełnieniu Firma może ponownie przystąpić do procesu certyfikacji.</p>
                </div>
            </li>
            <li>
            	<span class="nr">3</span><span>Za co płacę?</span>
                <div>
                	<p>W ramach procesu certyfikacji wykonywane jest szereg testów oraz audytów. Najważniejsze z nich to:</p>
                	<ul>
                    	<li>test odporności na ataki informatyczne z zewnątrz (pentest)</li>
                        <li>audyt w zakresie danych osobowych</li>
                        <li>sprawdzenie zgodności polityki bezpieczeństwa firmy z Ustawą o Ochronie Danych Osobowych, Prawem Telekomunikacyjnym</li>
                    </ul>
                </div>
            </li>
            <li>
            	<span class="nr">4</span><span>Dodatkowo każdy uczestnik otrzymuje:</span>
                <div>
                	<ul>
                    	<li>szczegółową analizę - raport o podatności na zagrożenia z zakresu ochrony danych</li>
                        <li>dedykowane zalecenia jak zwiększyć poziom bezpieczeństwa</li>
                        <li>może skorzystać z całej listy korzyści i przywilejów.</li>
                        <li>możliwość konsultacji z zakresu ochrony danych</li>
                    </ul>
                </div>
            </li>
            <li>
            	<span class="nr">5</span><span>Cennik</span>
                <div>
                	<p>Przypominamy, że Certyfikat Bezpieczeństwa dla instytucji non-profit jest bezpłatny!
Koszt realizacji procesu certyfikacji uzależniony jest od wielkości przedsiębiorstwa.</p>
					<aside class="tabs_inside">
                        <ul class="tabs_inside">
                                <li style="width:285px;" class="active"><a href="#tab-11">CENNIK PROCESU CERTYFIKACJI</a></li>
                                <li style="width:170px;" class="last"><a href="#tab-13">CENNIK LICENCJI</a></li>
                        </ul>
                        <div id="tab-13" class="tab">
                                <img src="/img/cennik_tabinside.png"  alt="cennik">
                        </div>
                        <div id="tab-11" class="tab">
                                <img src="/img/cennik_tabinside.png"  alt="cennik">
                        </div>
                    </aside>
					<p style="float:left; font-size:14px; margin-top:33px;"><b style="color:#f34879;">*</b> rozróżnienie firm na mikro/małe/średnie/duże w oparciu o definicje MŚP <img class="tooltip" src="/img/tt_inactive.png" alt="tooltip inactive" title="http://www.mg.gov.pl/Wspieranie+przedsiebiorczosci/Polityki+przedsiebiorczosci+i+innowacyjnosci/Definicja+MSP" ></p>
                </div>
            </li>
        </ul>
		
    </div>
    <!-- wiarygodnosc -->
    <div id="tab-6" class="tab">
             <h1>Wiarygodność certyfikatu</h1> 
             <p class="wiar_info">Nie sztuką jest wystawić bezwartościowy certyfikat na podstawie tego, że firma posiada REGON lub jest tak wyjątkowa bo ma również NIP...</p>
             <p class="wiar_cd">Certyfikat Bezpieczeństwa to znak jakości! Przekonaj się o jego sile!</p>
             <hr class="wiar">
             <p class="wiar_rest">Organizatorem przedsiewzięcia jest <strong>Agencja Bezpieczeństwa Komunikacji KRYPTOS Sp. z o.o.</strong> posiadająca numer nadany przez <strong>Wojskowe Centrum Normalizacji Jakości i Kodyfikacji</strong>, powołana celem zwiększania poczucia bezpieczeństwa u Konsumentów we współpracy 
z Firmami, Instytucjami oraz osobami zaufania publicznego (OZP). </p>
			<p class="wiar_rest" style="margin-bottom:36px;">Równie ważnym zadaniem jest edukowanie o potrzebie dbania o bezpieczeństwo danych przez same Firmy, Instytucje oraz OZP - poprzez prezentację zagrożeń oraz korzyści. Wychodząc 
na przeciw społeczeństwu pragnącemu zagwarantowania większej ochrony danych, KRYPTOS<strong> przygotował jedyny w swoim rodzaju proces certyfikacyjny</strong> (popartego przeprowadzeniem testów bezpieczeństwa), którego pozytywne przejście gwarantuje otrzymanie znaku jakości określającego poziom bezpieczeństwa, w skali 1-5. </p>
			<img src="/img/wiarygodnosc_img.png" alt="wiarygodnosc certyfikatu" >
            <p>Obawa przed skandalem z tytułu np. przerwy w działaniu strony internetowej "o bezpieczeństwie" była tak duża, że zrezygnowano z podejmowanych działań i podejmowaniu inicjatyw na rzecz Konsumentów. Wg nas każdy atak powinien uczyć nas o zagrożeniu,a zaatakowanemu należy pomóc - dzięki niemu możemy wyciągnąć wnioski i zabezpieczyć się.</p>
            <p><strong>Przypominamy</strong>, że nie gwarantujemy, że z Firmy posiadającej certyfikat nie wyciekną dane lub ich strony internetowe nie zostaną zaatakowane przez hakerów.
Jednak możemy zagwarantować, że ów firma podjęłą konkretne starania by zabezpieczyć przechowywane dane i należy to docenić.</p>
    </div>
</aside> 