<aside class="forconleft"> 
	<h1>Dla konsumenta</h1>
    <p style="font-weight:300;">Będąc konsumentem codziennie udostepniasz swoje dane podczas dokonywania 
zakupów, transakcji, rejestracji. </p>
	<p>Czy wiesz w jaki sposób zabezpieczone są Twoje dane?</p>
    <hr>
    <h2>Na tej stronie za darmo</h2>
    <ul>
    	<li>sprawdzisz czy Twoje dane są przetwarzane zgodnie z prawem,</li>
        <li>uzyskasz cenne wskazówki na temat ochrony danych osobowych,</li>
        <li>sprawdzisz kto posiada certyfikat bezpieczeństwa,</li>
        <li>dowiesz się, gdzie możesz znaleźć więcej informacji na temat ochrony danych.</li>
    </ul>
</aside>
<aside class="forconright">
	<h2>Kto ma certyfikat</h2>
    <ul>
    	<li>dba o bezpieczeństwo Twoich danych</li>
        <li>chroni swoje systemy informatyczne</li>
        <li>stale podnosi bezpieczeństwo infrastruktury 
informatycznej</li>
		<li>jest godny zaufania!</li>
    </ul>
    <a class="askquestion" href="/kontakt"><img src="/img/ask_question.png" alt="zadaj pytanie"></a>
    <a class="check" href="#"><img src="/img/sprawdz_kto_posiada.png" alt="sprawdź kto posiada certyfikat"></a>
</aside>
<aside class="worthtoknow">
				<h1>Warto wiedzieć</h1>
				<div class="accordion" id="one">
                    <ol>
                        <li>
                            <h2 class="ui-state-default"><span>Wzrost certyfikatów</span></h2>
                            <div>
                                <div>
                                    <img alt="image" src="/img/chart_1.png"/>
                                    <figcaption></figcaption>
                                </div>
                            </div>
                        </li>
                        <li>
                            <h2 class="ui-state-default"><span>Kto jest ofiarą</span></h2>
                            <div>
                                <div>
                                    <img alt="image" src="/img/chart_2.png"/>
                                </div>
                            </div>
                        </li>
                        <li>
                            <h2 class="ui-state-default"><span>Zagrożone branże</span></h2>
                            <div>
                                <div>
                                    <img alt="image" src="/img/chart_3.png"/>
                                </div>
                            </div>
                        </li>
                        
                    </ol>
                    
                </div>
</aside>
{*<aside class="czywieszze">
	<p>Osoba użytkująca komputer przenośny zawierający dane osobowe musi zachować szczególną ostrożność podczas jego transportu oraz stosować środki ochrony kryptograficznej wobec przetwarzanych danych osobowych</p>
</aside>*}
<aside class="czywieszze">
	<div class="top"></div>
    <div class="mid">
    	<p>{$rotator}</p>
    </div>
</aside>
<aside class="jakdbacobez">
	<h1>Jak dbać o bezpieczeństwo danych</h1>
    <ul>
    	<li>Zawsze aktualizuj oprogramowanie do najnowszej dostępnej wersji,</li>
        <li>Pamiętaj o szyfrowaniu przechowywanych danych za pomocą mocnych algorytmów,</li>
        <li>Zawsze rób kopie bezpieczeństwa danych i przechowuj ją w innym miejscu niż oryginalne dane.</li>
    </ul>
</aside>
<aside class="tabs">
    <ul class="tabs">
            <li class="active"><a href="#tab-1" class="active">Giodo</a></li>
            <li><a href="#tab-2">Cert</a></li>
            <li class="last"><a href="#tab-3">Szyfruj.to</a></li>
    </ul>
     
    <div id="tab-1" class="tab">
            <ul>
                <li><a href="http://www.giodo.gov.pl/593/id_art/2662/j/pl">KTO MUSI REJESTROWAĆ SWOJE ZBIORY</a></li>
                <li><a href="http://www.giodo.gov.pl/560/id_art/6609/j/pl">CZY GOOGLE GLASS ZAGRAŻA PRYWATNOŚCI</a></li>
                <li><a href="http://www.giodo.gov.pl/1520124/id_art/6914/j/pl">BEZPIECZNIE KORZYSTANIE Z INTERNETU I KOMÓREK</a></li>
            </ul>
    </div>
    <div id="tab-2" class="tab">
   			<ul>
            	<li><a href="http://www.cert.gov.pl/portal/cer/8/368/Ostrzezenie_o_ataku_wyludzajacym.html">Ostrzeżenie o ataku wyłudzającym</a></li>
                <li><a href="http://www.cert.gov.pl/portal/cer/8/409/Nowe_zagrozenie_w_plikach_PDF.html">Nowe zagrożenie w plikach PDF</a></li>
                <li><a href="http://www.cert.gov.pl/portal/cer/9/527/Kradzieze_hasel__ostrzezenie.html">Kradzieże haseł ostrzeżenie</a></li>
            </ul>
    </div>
    <div id="tab-3" class="tab">
           <ul>
           		<li><a href="http://szyfruj.to/szyfrowanie-od-podstaw">Szyfrowanie od podstaw</a></li>
                <li><a href="http://szyfruj.to/usuwanie-historii-wyszukiwania-z-google">Usuwanie historii wyszukiwania z google</a>
                <li><a href="http://szyfruj.to/jak-lamac-hasla">Jak łamać hasła</a>
           </ul>
    </div>
</aside>