<aside class="wniosekwywiad">
<h2>Wniosek o wywiad</h2>
<p>Jesteśmy gotowi dzielić się naszymi 
spostrzeżeniami o rynku usług związanych
z bezpieczeństwem przechowywania danych.</p>
<div id="mail_form_div">
<form  id="mail_form" method="post">
	<input id="cf_cname" required class="inp" name="name" type="text" placeholder="Redakcja/Imię i nazwisko">
    <input id="cf_email" required class="inp" name="email" type="email" placeholder="Adres e-mail">
    <div class="sel"><select  id="cf_subject" name="subject" class="replace-me" title="">
	        					<option value="Czym jesteś zainteresowany">Czym jesteś zainteresowany?</option>
                                <option value="Dystrybucja">Dystrybucja</option>
	        					<option value="Współpraca">Współpraca</option>
	        					<option value="Oferta">Oferta</option>
	        					<option value="Szkolenie">Szkolenie</option>
                                <option value="Inna sprawa">Inna sprawa</option>
	 </select></div>
     <textarea required name="message" id="cf_content" placeholder="Treść wiadomości"></textarea>
     <input type="submit" value="Wyślij zapytanie">
</form>
</div>
</aside>
<aside class="dlamediowright">
<p>
	Dział "Dla mediów" przeznaczony jest dla dziennikarzy, agencji prasowych i innych 
osób profesjonalnie związanych z mediami, a także dla wszystkich zainteresowanych 
ostatnimi informacjami i komunikatami prasowymi certyfikatbezpieczenstwa.pl.
</p>
<hr>
<h2>Rzecznik prasowy kryptos</h2>
<img src="/img/rzecznik_ewa.png" alt="rzecznik prasowy ewa janusz">
<table>
	<thead>
    	<tr>
        	<th>Plik/Obraz</th>
            <th>Rozdzielczość</th>
            <th>Format</th>
            <th>Rozmiar</th>
            <th>Pobierz</th>
        </tr>
    </thead>
    <tbody>
    	<tr>
        	<td>Wielokolorowe logo</td>
            <td>1188 <b>x</b> 279</td>
            <td>TIF</td>
            <td>2.1MB</td>
            <td><a href="/loga/logo_multicolor_1188x279_.tif">Pobierz</a></td>
        </tr>
        <tr>
        	<td>Wielokolorowe logo</td>
            <td>1188 <b>x</b> 279</td>
            <td>PNG</td>
            <td>21KB</td>
            <td><a href="/loga/logo_multicolor_1188x279_.png">Pobierz</a></td>
        </tr>
        <tr>
        	<td>Wielokolorowe logo</td>
            <td>1188 <b>x</b> 279</td>
            <td>EPS</td>
            <td>1.68MB</td>
            <td><a href="/loga/logo_multicolor_1188x279_.eps">Pobierz</a></td>
        </tr>
        <tr>
        	<td>Monochromatyczne logo</td>
            <td>1188 <b>x</b> 279</td>
            <td>TIF</td>
            <td>1MB</td>
            <td><a href="/loga/logo_blackwhite_color_1188x279_.tif">Pobierz</a></td>
        </tr>
        <tr>
        	<td>Monochromatyczne logo</td>
            <td>1188 <b>x</b> 279</td>
            <td>PNG</td>
            <td>21KB</td>
            <td><a href="/loga/logo_blackwhite_color_1188x279_.png">Pobierz</a></td>
        </tr>
    </tbody>
</table>
</aside>