<div class="clearfix">
    <div id="sticky-header">
        <div id="istorage_header">
            <img class="istorage_logo" title="logo istorage" src="{$url}img/istorage_logo_header.png" />
            <a class="button small" style="float:right;margin-top:5px;" href="/DataLocker%20Enterprise%20256-bit%20AES%201%20TB,18.html" title="zobacz szczegóły">kup produkt</a>
            <nav class="menu_top1">
                <a class="active" href="#">datAshur</a>
                <a href="#">diskAshur</a>
                <a href="#">diskAshur SSD</a>
                <a href="#">diskAshur DT</a>
                <a href="#">disk G</a>
                <a href="#">diskG SSD</a>
            </nav>
        </div>
        <div id="istorage_menu_top2">
            <nav>
                <a href="#whatisit" class="scrollable">Co to jest Datashur</a>
                <a href="#howworks"  class="scrollable">Jak działa Datashur?</a>
                <a href="#whydatashur" class="scrollable" >Dlaczego Datashur</a>
                <a href="#spec"  class="scrollable">Specfikacja</a>
            </nav>
        </div>
    </div>
    <div id="istorage_slider">
    
            <div class="slider-nav">
                <a href="#1" class="active"></a>
                <a href="#1"></a>
                <a href="#1"></a>
            </div>
            <ul>
            <li class="active">
                <img src="{$url}img/datAshur_1.png" alt="datAshur_1.png" />
            </li>
            <li>
                <img src="{$url}img/datAshur_2.png" alt="datAshur_2.png" />
            </li>
            </ul>
  </div>
     <div id="istorage_trusted">
     	<span class="trusted">Zaufali nam:</span>
       <ul id="logo_scroller" style="width:920px;">
        	<li><img src="/img/logosamsung.jpg" alt="logosamsung" /></li>
            <li><img src="/img/logosamsung.jpg" alt="logosamsung" /></li>
            <li><img src="/img/logosamsung.jpg" alt="logosamsung" /></li>
            <li><img src="/img/logosamsung.jpg" alt="logosamsung" /></li>
            <li><img src="/img/logosamsung.jpg" alt="logosamsung" /></li>
            <li><img src="/img/logosamsung.jpg" alt="logosamsung" /></li>
            <li><img src="/img/logosamsung.jpg" alt="logosamsung" /></li>
            <li><img src="/img/logosamsung.jpg" alt="logosamsung" /></li>
        </ul>
     </div>
     <div id="istorage_content">
       <p><strong>Szanowni Państwo!</strong></p>
       <p>
         Przedstawiamy ultra bezpieczną̨, łatwą w użyciu i niedrogą pamięć́ USB.<strong> iStorage datAshur to najbardziej bezpieczna na świecie, łatwa w użyciu i niedroga pamięć USB</strong>, wykorzystująca szyfrowanie danych w standardzie AES 256-bit, klasy wojskowej. <strong>datAshur</strong> wykorzystuje wbudowany akumulator, który pozwala na wprowadzanie przez użytkownika kodu PIN (o długości od 7 do 15 znaków) poprzez wbudowaną klawiaturę, przed podłączeniem pamięci do portu USB.</p>
         <h2>WAŻNE CECHY</h2>
         <ul>
         <li>
         Zabezpieczenie<strong> FIPS 140-2 Poziom 3 </strong>Certyfikowane (numer certyfikatu 1873), dopuszczającym do użycia w bankach i administracji publicznej.</li>
         <li>Pojemności:  4GB, 8GB, 16GB i 32GB*</li>
         <li>Współpraca ze smartfonami, tabletami, Google Chromebooks, drukarkami, skanerami, kamerami CCTV - ze wszystkimi urządzeniami wyposażonymi w port USB lub USB OTG.</li>
         <li>Aktywowane numerem PIN (7-15 znaków) alfanumeryczna klawiatura PIN activated 7-15 digits pozwalająca na wprowadzenie liczb i liter.</li>
         <li>Szyfrowanie danych na poziomie urządzenia AES 256-bit CBC, klasy wojskowej.</li>
         <li><strong>Zgodność́ ze wszystkimi systemami operacyjnymi - Windows, MAC, Linux.</strong></li>
         <li>Parametry chronione hashowaniem SHA-256.</li>
         <li>Aluminiowa obudowa odporna na kurz i wodę. </li>
         <li><strong>Certyfikat IP57</strong> – numer certyfikatu LVD- D120789COC.</li>
         <li>Odporność́ na ingerencję mechaniczną.</li>
         <li>Wsparcie dla odrębnych numerów PIN administratora i użytkownika.</li>
         <li><strong>Automatyczna blokada po odłączeniu</strong></li>
         <li>Reset dysku kasuje dane i umożliwia ponowne wykorzystanie.</li>
         <li>Niezależność́ od systemów operacyjnych - kompatybilność́ z Windows, Mac, Linux oraz wbudowanymi systemami.</li>
         <li> Nie wymagane dodatkowych sterowników i oprogramowania</li>
         <li><strong>3-letnia gwarancja.</strong></li>
         <li>Współpraca ze wszystkimi urządzeniami USB / USB OTG</li>
         <li>Mechanizm ochrony przed atakami typu brute force,</li>
         <li>Możliwość́ dostosowania konfiguracji - <a href="/kontakt,7.html">skontaktuj się z Kryptos.</a>
         </li>
         </ul>
         *Cześć miejsca na dysku w urządzeniu <strong>datAshur</strong> wykorzystywana jest do formatowani oraz innych funkcji, dlatego jest niedostępna do zapisu danych. Dlatego rzeczywista pojemność́ pamięci USB jest niższa niż̇ wymieniona w specyfikacji.
         </p>
         <h2 class="scrollable" id="whatisit">Co to jest datAshur</h2>
         <p> <strong>Istorage datAshur</strong> jest najbardziej bezpiecznym na świecie, łatwym w użyciu i niedrogim urządzeniem pamięci masowej USB, które wyposażone jest w szyfrowanie danych AES 256-bit klasy wojskowej, wykorzystujące kod PIN.<strong> DatAshur wyposażone jest w akumulator</strong>, który pozwala na wprowadzenie kodu PIN (7-15 znaków) poprzez wbudowaną klawiaturę zanim urządzenie zostanie podłączone do portu USB. Wszystkie dane zapisywane na datAshur są <strong>szyfrowane w czasie rzeczywistym</strong>, dzięki wbudowanemu mechanizmowi szyfrującemu, który chroni przed nieautoryzowanym dostępem do danych w przypadku zagubienia lub kradzieży urządzenia. DatAshur blokuje dostęp do danych automatycznie po odłączeniu od komputera lub kiedy port USB jest wyłączony. </p><p>
           DatAshur jest gotowy do pracy w chwilę po wyjęciu z pudełka, nie wymaga dodatkowych sterowników i oprogramowania. Jest <strong>kompatybilny ze wszystkimi systemami operacyjnymi</strong> dostępnymi na komputery klasy PC i Mac, a także z wbudowanymi systemami. DataShur zapewnia szyfrowanie drag and drop oraz prostotę plug and play i może być́ wykorzystywany z dowolnym oprogramowaniem do tworzenia kopii zapasowych danych.</p>
           <p>DatAshur może zostać́ skonfigurowany z użyciem odrębnych kodów PIN dla użytkownika i administratora, czyniąc to rozwiązanie idealnym dla zastosowań́ korporacyjnych i rządowych. W momencie kiedy użytkownik zapomni swój numer PIN, urządzenie może zostać́ odblokowane przy użyciu kodu PIN administratora, który jednocześnie może zezwolić́ użytkownikowi na ustalenie nowego kodu PIN. DatAshur dostarcza również̇ funkcję resetu, która usuwa numery PIN użytkownika i administratora, usuwa wszelkie dane, a następnie ustanawia losowo wygenerowany klucz szyfrowania – pozwala to na ponowne użycie datAshur. Urządzenie jest w stanie wygenerować́ nieskończoną̨ ilość́ losowych kluczy szyfrowania, pozwalając użytkownikowi na wielokrotne resetowanie.</p><p>
           Z uwagi na fakt, ze iStorage datAshur posiada wbudowaną klawiaturę̨ do zatwierdzania kodu PIN, nie jest narażony na ataki typu brute force oraz poprzez key loggery. DatAshur zapewnia zabezpieczenie Twoich danych dzięki mechanizmowi „Brute Force Hack Defence Mechanism”, który usuwa klucz szyfrowania i niszczy wszelkie znajdujące się
           w pamięci dane, w momencie kiedy 10 razy z rzędu wprowadzony zostanie błędny kod PIN.</p><p>
           <strong>DatAshur to inwestycja na lata.</strong> Jest zbudowany z grubego tłoczonego aluminium, wodoodporny i odporny na fizyczne uszkodzenia. Wewnętrzne elementy dysku są zabezpieczone przed otwarciem. </p>
           <h2 class="scrollable"  id="howworks">JAK DZIAŁA DATASHUR?</h2>
       <p style="text-indent:none;">
           –  Krok 1 – wprowadź́ PIN <br>
           –  Krok 2 – Podłącz <br>
           –  Krok 3 – Odłącz, aby włączyć blokadę <br>
       </p>
	<h2 id="whydatashur"  class="scrollable" >Dlaczego Datashur?</h2>
	<p>Czy wiesz, że każdego roku miliony urządzeń pamięci masowych USB jest kradzionych lub gubionych i z roku na rok ta liczba rośnie? Czy zastanawiałeś się nad konsekwencjami utraty nieszyfrowanej pamięci USB? Twoje dane będą na łasce tego kto znajdzie Twoje urządzenie. </p>
	<p>Brytyjskie Information Commissioner's Office (ICO) ma możliwości prawne do nakładania na firmy i instytucje kar sięgających 500 000 funtów za poważne naruszenia bezpieczeństwa danych. Dotyczy to również utraty nieszyfrowanych pamięci USB, które zawierają dane klienckie. ICO w jasny sposób daje do zrozumienia instytucjom prywatnym i państwowym, że powinny szyfrować dane swoich pracowników. Ponadto zwraca uwagę na fakt, że zagubienie lub kradzież zaszyfrowanych danych zmniejsza ryzyko ich ujawnienia. <strong>Utrata poufnych informacji może mieć niszczący wpływ zarówno na biznes jak i na klientów. Może prowadzić do nałożenia grzywny, upadku biznesu, wstydu, utraty pracy, a także przyciągnięcia uwagi mediów.</strong> Istorage datashur może Cię przed tym uchronić.</p>
	 <h2 class="scrollable"  id="difference">JAKA JEST RÓŻNICA  POMIĘDZY SZYFROWANIEM SPRZĘTOWYM A PROGRAMOWYM? </h2>
	 <p>Szyfrowanie programowe: </p>
	 <ul>
     	<li><strong>hasło może być złamane</strong> poprzez atak typu Brute Force, </li>
     	<li>łatwe hasła mogą być złamane poprzez łatwo dostępne w internecie, często darmowe, programy,     	  </li>
     	<li>szyfrowanie programowe jest podane na key loggery</li>
     	<li>każde wciśnięcie klawisza jest zapisywane w key loggerze,</li>
     	<li>szyfrowanie programowe jest narażone na wirusy,</li>
     	<li>szyfrowanie programowe jest o wiele wolniejsze w działaniu niż sprzętowe,</li>
     	<li>szyfrowanie programowe wymaga instalacji na każdym komputerze, do którego podłączamy zewnętrzne urządzenie,</li>
     	<li>szyfrowanie programowe współdzieli procesy z innymi programami uruchomionymi na komputerze, co czyni je na tyle bezpiecznym, na ile zabezpieczony jest komputer. </li>
   	   </ul>
	 <p>Szyfrowanie sprzętowe:</p>
	 <ul>
   	   <li>datAshur jest odporny na ataki typu brute force,</li>
     	<li>datAshur nie jest podatny na keyloggery, ponieważ PIN wprowadzany jest bezpośrednio w urządzeniu,</li>
     	<li>datAshur nie wymaga instalacji dodatkowego oprogramowania i może być używany na każdym systemie PC, MAC, Linux, Android i Symbian,</li>
     	<li>szyfrowanie jest realizowane w czasie rzeczywistym, dlatego nie występują żadne opóźnienia w działaniu,</li>
     	<li>nie wymagane jest dodatkowe oprogramowanie ani sterowniki. </li>
     </ul>
	 <h2 class="scrollable"  id="spec">Specfikacja</h2>
     <table width="500">
     	<tr>
     	  <td>Pojemność</td>
     	  <td>4GB, 8GB, 16GB, 32GB</td></tr>
        <tr><td>Predkość</td><td>Odczyt: do 27MB na sekundę Zapis: do 24MB na sekundę</td></tr>
        <tr><td>Rozmiar</td>
        <td>80mm x 20mm x 10.5mm</td></tr>
        <tr><td>Waga</td>
        <td>25g</td></tr>
        <tr>
          <td>Wodoodporność</td>
          <td>MIL-STD-810F</td></tr>
        <tr>
          <td>Osprzęt</td>
          <td>USB 2 wysokiej prędkości – kompatybilne z USB 1 i USB 3</td></tr>
        <tr>
          <td>Kompatybilność z systemami operacyjnymi</td><td>Windows, MAC OS, Linux, Android, Symbian</td></tr>
        <tr>
          <td>Szyfrowanie danych</td><td>AES Cipher-Block Chained mode</td></tr>
        <tr>
          <td>Klucz szyfrujący</td><td>256-bit Hardware</td></tr>
        <tr>
          <td>Funkcja mieszająca</td><td>256-bit SHA</td></tr>
     </table>
     </div>
     <div id="istorage_bottom_info">
     	<div class="box">
        	<div class="head">Kup ONLINE</div>
            <div class="content">
            	<h4>Informacje o Datashur</h4>
            	<ul> 
                <li><a class="scrollable" href="#whatisit">Co to Datashur?</a></li>
                <li><a class="scrollable" href="#whydatashur">Dlaczego datashur?</a></li>
                <li><a class="scrollable" href="#spec">Dane techniczne</a>	 </li>	
                <li><a class="scrollable" href="#howworks">Jak działa Datashur?</a></li> 
                </ul>
            </div>
        </div>
        <div class="box middle">
        	<div class="head">Gdzie kupić</div>
            <div class="content">
            	<h4>Więcej o dyskach Kryptos iStorage</h4>
            	<ul>
                    <li><a href="/istorage/datashur">datAshur</a></li>
                    <li><a href="/istorage/diskashur">diskAshur</a></li>	 
                    <li><a href="/istorage/diskashurssd">diskAshur SSD</a></li>
                    <li><a href="/istorage/diskashurdt">diskAshur DT</a>	 </li>	
                    <li><a href="/istorage/diskg">diskG</a> 	</li>
                    <li><a href="/istorage/diskgssd">diskG SSD</a></li>
                </ul>
            </div>
        </div>
        <div class="box middle">
        	<div class="head">Zostań dystrybutorem</div>
            <div class="content">
            	<h4>Wsparcie</h4>
            	<ul>
                <li><a href="{$url}Istorage-gdzie-kupic,27.html">Gdzie kupić?</a></li>
                <li><a href="{$url}Istorage-jak-zostac-dystrybutorem,28.html">Jak zostać dystrybutorem?</a></li>
                <li><a href="{$url}Istorage-faq,16.html">Pomoc techniczna online</a>	 </li>	
                <li><a href="{$url}Istorage-dla-mediow,17.html">Informacje prasowe</a></li> 
                <li><a href="{$url}Klienci,29.html">Klienci</a></li>
                </ul>
            </div>
        </div>
     </div>
</div>