<aside class="contact">
	<h1>Skontaktuj się z nami</h1>
    <p>Od świtu po zachód słońca... Nasza siedziba w Grybowie czynna jest w zwyczajnych 
zupełnie godzinach. Dlaczego więc warto do nas przyjść, zadzwonić, czy wysłać 
e-mail? Potrafimy bowiem słuchać i chętnie dzielimy się doświadczeniami. <br /> <br />
Jesteśmy ciekawi ciekawych ludzi. Tak po prostu...</p>
<form id="contact_form">
	<input class="inp" type="text" name="surname" value="" placeholder="Imię nazwisko" id="cf_cname" required>
    <textarea placeholder="Treść wiadomości" id="cf_content" required></textarea>
    <input class="inp" type="text" name="email" value="" id="cf_email" placeholder="Adres e-mail" required>
    <select name="subject" id="cf_subject" class="replace-me" title="">
	        					<option value="Czym jesteś zainteresowany">Czym jesteś zainteresowany?</option>
                                <option value="Dystrybucja">Dystrybucja</option>
	        					<option value="Współpraca">Współpraca</option>
	        					<option value="Oferta">Oferta</option>
	        					<option value="Szkolenie">Szkolenie</option>
                                <option value="Inna sprawa">Inna sprawa</option>
	 </select>
</form>

<input type="submit" value="Wyślij zapytanie" id="contact_send_button">
     
</aside>
<aside class="data">

</aside>
