<aside class="right-ocertyfikacie">
	<h2>Kto ma certyfikat</h2>
    <ul>
    	<li>dba o bezpieczeństwo Twoich danych</li>
        <li>chroni swoje systemy informatyczne</li>
        <li>stale podnosi bezpieczeństwo infrastruktury 
informatycznej</li>
		<li>jest godny zaufania!</li>
    </ul>
    <a class="askquestion" href="/kontakt"><img src="/img/ask_question.png" alt="zadaj pytanie"></a>
    <a class="check" href="#"><img src="/img/sprawdz_kto_posiada.png" alt="sprawdź kto posiada certyfikat"></a>
</aside>
<aside class="info-cert">
	<h1>O certyfikacie</h1>
    <p class="info">Certyfikat Bezpieczeństwa to potwierdzenie dbania o bezpieczeństwo danych. </p>
    <p class="subinfo" style="line-height:150%; text-align:justify;">Sam Certyfikat Bezpieczeństwa wydawany jest w oparciu o pomyślne przejście testów informatycznych oraz sprawdzenie procedur prawnych. Proces certyfikacji Organizacji pozarządowych jest bezpłatny, w innym wypadku pobierane są koszty przeprowadzenia testów bezpieczeństwa i procedury audytorskiej.</p>
    <img class="cert-sample" src="/img/certyfikat-przyklad.png" alt="przykładowy certyfikat">
    <p class="abyuzyskac">Przykładowy Certyfikat Bezpieczeństwa wystawiony dla firmy.</p>
	<a href="/wypelnij-wniosek"><img class="abyuzyskac" alt="chce uzyskac certyfikat" src="/img/chce_uzyskac_certyfikat.png"></a>
    <hr>
    <aside class="additional-info-left">
        <p> Bezpieczeństwo danych w dobie Internetu to przede wszystkim zbiorowa odpowiedzialność za powierzane nam informacje. </p>
        <p>Owocne dyskusje prowadzone  w ostatnim czasie na ten temat  pokazują, że coraz więcej podmiotów gromadzących dane zaczyna dbać o ich poufność i bezpieczeństwo. </p>
        <p>Doceniając ich starania postanowiliśmy uhonorować a także zmotywować wszystkich do ciągłego dbania o bezpieczeństwo. Dlatego stworzyliśmy Certyfikat Bezpieczeństwa.</p> 
    </aside>
    <aside class="additional-info-right">
        <p>Certyfikat jest wysyłany w formie elektronicznej razem ze szczegółowym raportem bezpieczeństwa. </p>
        <p>Sam Certyfikat jest publikowany w ramach  indywidualnej subdomeny razem z podstawowymi informacjami o Uczestniku. </p>
        <p>Integralną częścią Certyfikatu jest Licencja, która określa ogół zasad uprawniających do korzystania z Certyfikatu. Licencje są roczne i wymagają odnawiania. </p> 
    </aside>
    <h2 class="botinfo">Certyfikat Bezpieczeństwa</h2>
    <p class="botinfo" style="text-align:justify;">To wiarygodna informacja o podjęciu  konkretnych starań by odpowiednio zabezpieczyć przechowywane dane. Kod Certyfikatu pozwala na określenie poziomu bezpieczeństwa oraz rodzaju działalności podmiotu. Dzięki cyklicznie przeprowadzanym audytom w ramach posiadanej Licencji, poziom bezpieczeństwa jest stale monitorowany.</p>
</aside>