<aside class="menu-left">
	<ul class="tabs">
    	<li class="active"><a href="#tab-1">Lista partnerów</a><div class="arrow"></div></li>
        <li><a href="#tab-2">Patronat</a><div class="arrow"></div></li>
        <li><a href="#tab-3">Zostań partnerem</a><div class="arrow"></div></li>
    </ul>
</aside>
<aside class="dla-firm">
 	<div id="tab-1" class="tab">
            <h1>Lista naszych partnerów</h1>
           
            <p>Dzięki naszym partnerom mamy możliwość dla posiadających Certyfikat Bezpieczeństwa zaoferować niesamowitą listę korzyści, która ciągle rośnie...
            </p>
			<div class="partnerzy">
            	<div class="partner">
                	<a style="padding-top:67px;" href="#"><img src="/img/kryptos_logo_small.png"></a>
                    <h4>Kryptos Sp. z o.o.</h4>
                    <p>Ekspert w zakresie bezpieczeństwa oraz wyłączny dystrybutor w Polsce, 
urządzeń szyfrujących marki iStorage.</p>
                </div>
                <div class="partner">
                	<a style="padding-top:67px;" href="#"><img src="/img/szyfrujto_logo_small.png"></a>
                    <h4>Szyfruj.to</h4>
                    <p>Serwis publikujący bezpłatnie aktualności z dziedziny bezpieczeństwa. 
Potentant do tytułu Blog Roku 2013.</p>
                </div> 
                <div class="partner">
                	<a style="padding-top:89px;" href="#"><img src="/img/istorage_logo_small.png"></a>
                    <h4>I-storage.pl</h4>
                    <p>Sklep oferujący urządzenia szyfrujące, dedykowane do ochrony 
wrażliwych danych. W ofercie znajduje się najbezpieczniejszy dysk 
USB na świecie "DatAshur".</p>
                </div>
                <div class="partner">
                	<a style="padding-top:69px;" href="#"><img src="/img/pakula_logo_small.png"></a>
                    <h4>Pakula Consulting</h4>
                    <p>Jeden z najlepszych ekspertów w dziedzinie wdrożeń WSK/ISO w Polsce. 
Konsultant roku TUV.</p>
                </div>
            </div>        
    </div>
    <div id="tab-2" class="tab">
           <p>
           Poszukujemy Patronów Medialnych, którym nie jest obojętna kwestia bezpieczeństwa i ochrony danych osobowych.<br /><br />Pokładamy nadzieję, że to wyjątkowe przedsięwzięcie realizowane w ciepłej atmosferze, przyniesie zauważalny poziom poprawy świadomości bezpieczeństwa: Konsumentów, Firm oraz Instytucji.
           </p>
    </div>
    <div id="tab-3" class="tab">
    		<h1>Zostań partnerem</h1>
            <p>
            Wartość informacji rośnie z każdym dniem szybciej niż kurs ropy, złota, czy nawet diamentów. Cenna jest zarówno wiedza specjalistyczna jak również personalia naszych Klientów. Przeniesienie części życia społecznego do wirtualnej przestrzeni budzi wiele pytań, szczególnie z zakresu bezpieczeństwa i ochrony danych osobowych. Poczucie bezpieczeństwa przecież jest jedną z podstawowych potrzeb do zaspokojenia której dąży każdy człowiek. Bez niego nie ma zaufania, czynnika który decyduje o wyborze firmy, pozytywnej ocenie instytucji czy nawiązaniu więzi międzyludzkich. Uważamy, że brak zaufania nie tylko przyczynił się do kryzysu gospodarczego jeszcze utrudnia z niego wyjście.<br /><br />
Chętnie nawiążemy współpracę z każdą osobą fizyczną lub prawną, która może nam pomóc w popularyzacji dbałości o ochronę danych. Pragniemy nieustannie rozwijać nasze działania poprzez stworzenie ogólnopolskiej bazy wiedzy z zakresu ochrony danych. Naszym celem jest współdziałać z każdym podmiotem, dla którego ważna jest ochrona danych osobowych. Konkurowanie ze sobą w tym temacie jest bez sensu, gdyż naszymi działaniami i usługami bronimy całe społeczeństwo przed zagrożeniami płynącym z bagatelizowania zasad bezpieczeństwa.
<br /><br />Przyłącz się do naszej misji!  Budujmy Polskę opartą na zaufaniu...

            </p>
            <h3>Wypełnij formularz</h3>
            <div  class="parnterzybox">
            <form  id="mail_form" method="post">
                 <input id="cf_cname" required class="inp" name="name" type="text" placeholder="Firma/Imię i nazwisko">
                 <input id="cf_strona" required class="inp" name="www" type="text" placeholder="Twoja strona internetowa">
                 <input id="cf_tel" required class="inp" name="tel" type="text" placeholder="Telefon">
                 <input id="cf_email" required class="inp" name="email" type="email" placeholder="Adres e-mail">
                 <textarea required name="message" id="cf_content" placeholder="Jak Ty/Twoja firma/Instytucja może pomóc w popularyzacji bezpieczeństwa i ochrony danych osobowych? Co możesz zaoferować uczestnikom posiadającym Certyfikat Bezpieczeństwa?"></textarea>
                 <input type="submit" value="Wyślij zapytanie">
            </form>
            </div>
    </div>
</aside> 