<article class="politykaprywatnosci">
<h1>Polityka Ochrony Prywatności</h1>
<h2>Zasady podstawowe</h2>

<p>Przykładamy ogromną wagę do kwestii prywatności Użytkowników (zarówno Konsumentów oraz Uczestników – zdefiniowani w regulaminie) strony www CertyfikatBezpieczenstwa.pl. Agencja Bezpieczeństwa Komunikacji KRYPTOS Sp. z o.o.(zwana dalej Kryptos), jako administrator danych, dba o bezpieczeństwo udostępnionych jej danych. Dane te są w sposób szczególny chronione i zabezpieczone przed dostępem osób nieupoważnionych. Zasady zachowania poufności na stronie internetowej certyfikatbezpieczenstwa.pl są udostępniane wszystkim zainteresowanym.</p>

<p>Serwis CertyfikatBezpieczenstwa.pl ma charakter otwarty. Jedną z jego głównych funkcji  jest możliwość przeglądania publikowanych przez nas treści, celem zwiększenia wiedzy z zakresu bezpieczeństwa i ochrony danych osobowych - zwłaszcza dla Firm/Instytucji/Osób Zaufania Publicznego. Dodatkowo umożliwiamy Konsumentom zweryfikowanie posiadania Certyfikatu Bezpieczeństwa przez podmiot, z którym zamierzają współpracować lub już to czynią. Nasze działanie zwiększa świadomość społeczeństwa z zakresu zagrożeń jakie niesie ze sobą zaniedbanie tematu ochrony danych. Dane publikowane przez nas są powszechnie dostępne dla wszelkich podmiotów korzystających z sieci Internetowej oraz mogą być indeksowane przez wyszukiwarki.
Dane udostępniane na CertyfikatBezpieczeństwa.pl na temat Uczestników, publikowane są za ich zgodą i akceptacją Regulaminu.</p>
<h2>Zasady przetwarzania danych eksploatacyjnych</h2>

<p>Wynikające z ogólnych zasad połączeń realizowanych w Internecie informacje zawarte w logach systemowych (np. adres IP) są przez Kryptos, wykorzystywane w celach technicznych, związanych z administracją naszymi serwerami. Poza tym adresy IP są wykorzystywane do zbierania ogólnych, statystycznych informacji demograficznych (np. o regionie, z którego następuje połączenie). Strona CertyfikatBezpieczeństwa.pl używa cookies w celu dostarczania usług i treści dostosowanych do indywidualnych potrzeb i zainteresowań. W niektórych przypadkach identyfikacja i związany z nią zindywidualizowany (personalizowany) dostęp do serwisów oparte są o cookies. Wyłączenie cookies w przeglądarce przeważnie nie uniemożliwia korzystania z naszych usług, ale może powodować utrudnienia. Cookies są również używane do zbierania ogólnych, statystycznych informacji o korzystaniu z naszych serwisów przez użytkowników. 
</p>
<h2>Dane wymagane we wniosku</h2>

<p>Wypełniając ankietę wstępną konieczne jest podanie następujących danych:
Pełną nazwę Uczestnika, Regon, NIP (jeśli został mu nadany), adres siedziby/adres prowadzenia działalności/adres zamieszkania, przeważające PKD działalności/wykonywany zawód zaufania publicznego/charakterystyka osoby publicznej,  e-mail, telefon, imię i nazwisko osoby odpowiedzialnej za kontakt, adresy stron www oraz inne informacje stanowiące odpowiedzi na pytania ankietowa – wzór ankiety stanowi załącznik regulaminu.</p>
<h3>Dane wymagane w formularzu kontaktowym</h3>
<p>W formularzu kontaktowym, konieczne jest podanie następujących danych:
Imię, nazwisko, e-mail, nr telefonu, adres zamieszkania
</p>
<h3>Dane ujawniane w subdomenie:</h3>
<p> 
Pełną nazwę Uczestnika, adres siedziby, przeważające PKD działalności - branżą, telefon , adresy stron www, kod Certyfikatu, wymagania jakie zostały spełnione przez Uczestnika, historia zmian w Certyfikacie, krótka charakterystyka Uczestnika, 
</p>
<h2>Dane osobowe</h2>
<p>Administratorem danych osobowych udostępnionych przez Użytkownika jest Agencja Bezpieczeństwa Komunikacji KRYPTOS Sp. z o.o. z siedzibą w Grybowie, przy ul. Grunwaldzkiej 23 (33-330 Grybów) – zwana danej Kryptos. Kryptos przetwarza dane osobowe w sposób zgodny z obowiązującymi przepisami prawa na zasadach określonych w Polityce Ochrony Prywatności Agencji Bezpieczeństwa Komunikacji KRYPTOS Sp. z o.o., w szczególności dotyczących odpowiedniego zabezpieczenia danych. </p>

<p>Kryptos przetwarza dane osobowe Użytkownika w zakresie niezbędnym do nawiązania, ukształtowania treści, zmiany, rozwiązania oraz prawidłowej realizacji usług świadczonych drogą elektroniczną. 
</p>

<h2>Treści zamieszczane przez Użytkowników</h2>
<p>
W obrębie subdomen udostępnionych Uczestnikom, publikowane są informacje na temat ich działalności. Istnieje również możliwość umieszczenia na tych stronach referencji, dyplomów itp. Informacje te widoczne są dla wszystkich.</p>
<h3>Przechowywanie i ochrona informacji</h3>
<p>
Dane osobowe Użytkowników są przechowywane w bazie danych, w której zastosowano środki techniczne i organizacyjne zapewniające ochronę przetwarzanych danych zgodne z wymaganiami określonymi w przepisach o ochronie danych osobowych, w tym rozporządzenia Ministra Spraw Wewnętrznych i Administracji z dnia 29 kwietnia 2004 r. w sprawie dokumentacji przetwarzania danych osobowych oraz warunków technicznych i organizacyjnych, jakim powinny odpowiadać urządzenia i systemy informatyczne służące do przetwarzania danych osobowych (Dz. U. Nr 100, poz. 1024) oraz wytycznymi Generalnego Inspektora Ochrony Danych Osobowych. Dostęp do bazy mają jedynie Administratorzy, posiadający specjalne upoważnienia nadane przez Agencję Bezpieczeństwa Komunikacji KRYPTOS Sp. z o.o. (administratora danych).
Prawo do weryfikacji, modyfikacji i usunięcia danych osobowych. Ograniczenia.
Użytkownik w każdej chwili ma prawo wglądu w swoje dane oraz dysponuje możliwością ich aktualizacji oraz usunięcia. Aby zapobiec powtórnej rejestracji podmiotów, których udział w CertyfikatBezpieczeństwa.pl został zakończony ze względu na niedozwolone korzystanie z naszych rozwiązań, możemy odmówić usunięcia danych niezbędnych do zablokowania możliwości ponownej rejestracji. Podstawą prawną odmowy jest art. 19 ust. 2 pkt 3 w związku z art. 21 ust .1 ustawy z dnia 18 lipca 2002 r. o świadczeniu usług drogą elektroniczną (Dz. U. Nr 144, poz. 1204 ze zm.). Odmowa usunięcia danych ma również miejsce w przypadkach przewidzianych w przepisach prawa. </p>
<p>
W wypadkach dozwolonych przez przepisy prawa Kryptos może również udostępnić część danych osobowych Użytkownika osobom trzecim dla celów związanych z ochroną praw autorskich (lub innych), ale wyłącznie na pisemny wniosek (lub na podstawie umowy o współpracy z Kryptos w tym zakresie). Podmiot, który występuje z tego typu wnioskiem jest zobowiązany udokumentować fakt posiadania autorskich praw majątkowych (lub innych) do treści/produktu/usługi. Musi również zachodzić podejrzenie naruszenia tych praw. Kryptos może również udostępnić zgromadzone dane osobowe na życzenie lub za zgodą Użytkownika lub też na żądanie uprawnionych na podstawie przepisów prawa organów państwowych. Poczta elektroniczna kierowana do CertyfikatBezpieczeństwa.pl może być archiwizowana i może w niektórych przypadkach być wykorzystana dla celów dowodowych.</p>
<h2>Odsyłacze do innych stron internetowych</h2>
<p>
Kryptos nie odpowiada za politykę ochrony prywatności stosowaną przez właścicieli lub administratorów serwisów, do których przekierowują odsyłacze zamieszczane w domenie CertyfikatBezpieczeństwa.pl lub powiązanych subdomen. Użytkownik ponosi pełną odpowiedzialność za treści znajdujące się na stronie, do której przekierowuje zamieszczany przez niego www serwisach 
</p>
<h2>Informacje wysyłane do Użytkownika</h2>
<p>
Kryptos zastrzega sobie prawo wysyłania wszystkim użytkownikom listów elektronicznych z powiadomieniami o ważnych zmianach w CertyfikatBezpieczeństwa.pl. Kryptos może wysyłać listy elektroniczne o charakterze komercyjnym, zwłaszcza reklamy i inne treści o charakterze informacji handlowej, o ile Użytkownik wyraził na to zgodę. Reklamy i inne treści o charakterze informacji handlowej mogą być też dołączane do listów przychodzących i wychodzących z konta systemowego.</p>
<p>Akceptując politykę prywatności wyrażasz zgodę na powierzenie oraz przetwarzanie danych osobowych, które są objęte niniejszą polityką prywatności oraz regulaminem.</p> 
</article>

