<article class="regulamin">
	<h1>Regulamin przyznania Certyfikatu Bezpieczeństwa oraz korzystania  z Licencji</h1>
    <p>Niniejszy regulamin określa zasady przyznania Certyfikatu Bezpieczeństwa oraz korzystania z Licencji</p>
  	<h2>Podstawowe pojęcia użyte w regulaminie:</h2>
    <ul>
    	<li>Agencja Bezpieczeństwa Komunikacji KRYPTOS Sp. z o.o. z siedzibą przy ul. Grunwaldzkiej 23, 33-330 Grybów, NIP 7343520525, REGON 122891817, KRS 468827 , NCAGE 2484H – Organizator</li>
    	<li>Uczestnik – ogólne określenie Uczestnika Komercyjnego, Uczestnika non-profit </li>
    	<li>Uczestnik Komercyjny – podmiot, którego funkcjonowanie na charakter głównie zarobkowy – jednoosobowa działalność  gospodarcza, spółki osobowe, spółki prawa handlowego. Do tej grupy zaliczamy również  urzędy i instytucje, osoby wykonujące zawody zaufania publicznego oraz osoby publiczne. </li>
    	<li>Laureat – Uczestnik Komercyjny, który został objęty uchwałą Prezesa Kryptos o przeprowadzeniu bezpłatnego procesu certyfikacji</li>
    	<li>Uczestnik non-profit – organizacja pozarządowa </li>
    	<li>Konsument – osoba fizyczna, korzystająca bezpłatnie ze strony certyfikatbezpieczeństwa.pl, mająca możliwość sprawdzenia kto posiada certyfikat bezpieczeństwa</li>
    	<li>Certyfikat Bezpieczeństwa (dalej Certyfikat) – dokument poświadczający  wydawany na wniosek uczestnika, na podstawie ankiety oraz przeprowadzonych testów potwierdzający stosowanie procedur bezpieczeństwa w sferze prawnej oraz informatycznej w dniu jego wydania. Certyfikat posiada kod certyfikatu odnoszący się do poziomu bezpieczeństwa oraz rodzaju działalności.  Zasady korzystania z Certyfikatu określa licencja.</li>
    	<li>Kod Certyfikatu – unikalny wyróżnik składający się z Identyfikatora Certyfikatu  oraz Kategorii Certyfikatu.</li>
    	<li>Kategorie Certyfikatu – ocena poziomu bezpieczeństwa – stosowanych procedur. Każdy Certyfikat posiada 1 z pięciu kategorii, gdzie 1 jest oceną najwyższą a 5 najniższą. </li>
    	<li>Identyfikator Certyfikatu – na podstawie przeważającego PKD podanego we wniosku, składa się z sekcji oraz numeru grupy (zgodnie z Rozporządzeniem Rady Ministrów z dnia 24-12-2007 w sprawie Polskiej Klasyfikacji Działalności).</li>
    	<li>Licencja – dokument określający ogół praw i zasad do używania nadanego Certyfikatu Bezpieczeństwa</li>
    	<li>Wniosek – wyrażenie chęci uzyskania Certyfikatu Bezpieczeństwa oraz Licencji, składający się z ankiety wstępnej oraz zgody na przeprowadzenie testów bezpieczeństwa – audytu.</li>
    	<li>Audyt – ogół testów przeprowadzanych w celu określenie poziomu bezpieczeństwa. Składa się z testów informatycznych oraz ankiety szczegółowej.</li>
    	<li>Ankieta szczegółowa –  dotyczy stosowania w praktyce przepisów prawnych z zakresu:  Ustawy o Ochronie Danych Osobowych (Dz. U. Z 2002r. Nr 101, z późn. zm.), Prawo Telekomunikacyjne (Dz. U. z 2012r., Nr 0, z późn. zm.), Dyrektyw Unii Europejskiej 2009/136/WE i 2009/140/WE, Rozporządzenia Ministra MSWiA w sprawie dokumentacji przetwarzania danych osobowych oraz warunków technicznych i organizacyjnych, jakim powinny odpowiadać urządzenia i systemy informatyczne służące do przetwarzania danych osobowych (Dz. U. z 2004r. Nr 100, poz. 1024 z późn. zm.) oraz inne powiązane akty prawne oraz interpretacje Generalnego Inspektora Ochrony Danych Osobowych </li>
    </ul>
  <h2>Procedura przyznania Certyfikatu Bezpieczeństwa</h2>
    <ol>
    	<li>W celu otrzymania Certyfikatu Uczestnik wypełnia wniosek, który jest dostępny http://certyfikatbezpieczenstwa.pl/wypelnij-wniosek . a następnie wysyła go w formie elektronicznej na e-mail bok@kryptos.co lub pocztą tradycyjną na adres Agencja Bezpieczeństwa Komunikacji Kryptos Sp. z o.o. ul. Grunwaldzka 23, 33-330 Grybów.</li>
    	<li>Po otrzymaniu wniosku i po jego pozytywnej akceptacji  Uczestnik w ciągu 7 dni otrzymuje informacje na e-maila podanego we wniosku, o szczegółach planowanych testów ,<strong>cenie procesu certyfikacji </strong> i uzyskania Licencji oraz wyznaczonym terminie(nie później niż 14 dni od otrzymania wniosku) przeprowadzenia audytu.  Istnieje możliwość zmiany terminu audytu na podstawie indywidualnych ustaleń.</li>
    	<li>Cena procesu Certyfikacji uzależniona jest od wielkości prowadzonej działalności, zasięgu terytorialnego Instytucji, lub charakterystyki Osoby Publicznej.</li>
    	<li>Audyt wykonywany jest nie wcześniej niż po zaksięgowaniu płatności na rachunku bankowym Organizatora w terminie określonym w pkt 2. W momencie zaksięgowania płatności później niż wyznaczony wcześniej dzień testów, testy zostaną wykonane w terminie ustalonym indywidualnie między organizatorem a Uczestnikiem Komercyjnym. W przypadku Uczestników non-profit oraz Laureatów testy wykonywane są w terminie określonym w pkt 2.</li>
    	<li>Proces certyfikacji  wykonywany jest bezpłatnie na rzecz Uczestników-non profit. Na mocy uchwały Prezesa Kryptos bezpłatna certyfikacja może zostać przeprowadzona  również na rzecz Uczestnika Komercyjnego zwanego wówczas Laureatem. </li>
    	<li>Audyt obejmuje testy informatyczne oraz weryfikację stosowanych procedur wynikających z przepisów prawnych. Po przeprowadzeniu audytu wystawiana jest ocena, która skutkuje przyznaniem odpowiedniej  kategorii Certyfikatu. Ocena ma charakter punktowy i  na poziom kategorii przeliczana jest w sposób procentowy następująco: 
    	  <ol>
    	    <li>100 - 90 % - kat 1</li>
    	    <li>80 - 70 % - kat 2</li>
    	    <li>70 - 60 % - kat 3</li>
    	    <li>60 - 50 % - kat 4</li>
    	    <li>50 % &gt; - kat 5</li>
  	      </ol>
    	</li>
    </ol>
  <h2>Na testy informatyczne składają się:</h2>
    <h3>TDR - Testy dużego ryzyka (60 pkt)</h3>
    <ul>
    	<li>Wstrzykiwanie kodu SQL/PHP (10)</li>
        <li>Jawne wstrzykiwanie kodu SQL do parametrów POST/GET (10 pkt)</li>
      	<li>Wstrzykiwanie kodu do powłoki serwera(server shell)(6 pkt)</li>
     	<li>Wstrzykiwanie kodu XML/XPath (8 pkt)</li>
       	<li>Sprawdzanie podatności na formatowanie tekstu (10 pkt)</li>
      	<li>Sprawdzanie podatności na przeciążenie zmiennej integer (10 pkt)</li>
    	<li>Sprawdzanie lokalizacji akceptujących żądanie http PUT (6 pkt)</li>
    </ul>
    <h3>TSR - Testy średniego ryzyka (30 pkt)</h3>
    <ul>
    	<li>Stored/Reflected XSS przez dokument html (3 pkt)</li>
        <li>Stored/Reflected XSS przez przekierowania http (3 pkt)</li>
      	<li>Stored/Reflected XSS przez modyfikację nagłówków zapytania http (3 pkt)</li>
     	<li>Sprawdzenie katalogów i plików, które nie powinny być widoczne (4pkt)</li>
       	<li>Sprawdzenie plików konfiguracyjnych (4 pkt)</li>
      	<li>Sprawdzenie zewnętrznych plików CSS (1 pkt)</li>
    	<li>Wysyłanie haseł do stron niezabezpieczonych SSL-em (4 pkt)</li>
        <li>Nieprawidłowe bądź brakujące typy MIME (2 pkt)</li>
        <li>Brak odpowiedniego kodowania dla stron (3 pkt)</li>
        <li>Sprawdzenie pamięci podręcznej (3 pkt)</li>
    </ul>
    <h3>TNR - Testy niskiego ryzyka (10 pkt)</h3>
    <ul>
    	<li>Nieudane próby otrzymania zasobów (2 pkt)</li>
        <li>Przekroczenie granic indeksowania (2 pkt)</li>
      	<li>Nieprawidłowe działanie stron 404 (strona niedostępna) (2 pkt)</li>
     	<li>Sprawdzenie filtrowania IPS (2 pkt)</li>
       	<li>Sprawdzenie nieoczekiwanych odpowiedzi serwera (2 pkt)</li>
    </ul>
    <h3>Inne testy</h3>
    <ul>
    	<li>Sprawdzenie informacji o certyfikacie SSL jeśli taki istnieje</li>
    	<li>Zmiana cookies i sprawdzenie efektów na stronie</li>
    	<li>Sprawdzenie nagłówka Server oraz nagłówków X-.. </li>
    	<li>Sprawdzenie nowych strony 404</li>
    	<li>Sprawdzenie zasobów, które są nieosiągalne </li>
    	<li>Sprawdzenie zasobów wymagających autentykacji przez http</li>
    	<li>Sprawdzenie zepsutych linków</li>
    	<li>Sprawdzenie błędów serwera</li>
    	<li>Sprawdzenie linków do nieznanych protokołów</li>
    	<li>Sprawdzenie pól na formie, które nie mogły być wypełnione</li>
    	<li>Sprawdzenie pól typu &bdquo;password&rdquo;(dla celów ataku siłowego)</li>
    	<li>Sprawdzenie form do wgrywania plików</li>
    	<li>Sprawdzenie typów MIME dla mniej znaczących zasobów</li>
    	<li>Sprawdzenie kodowania dla mniej znaczących zasobów</li>
    </ul>
    <h3>Dodatkowe testy</h3>
    <ul>
    	<li>Sprawdzenie podatności strony na BLIND SQL Injection</li>
        <li>Sprawdzenie podatności strony na atak DDOS </li>
      	<li>Sprawdzenie podatności serwera na atak DOS</li>
     	<li>Atak phishingowy</li>
       	<li>Sprawdzenie określonego przez klienta frameworka/systemu pod kątem znanych podatności</li>
    </ul>
  <p>Przed wykonaniem testów informatycznych Uczestnik ma obowiązek wykonać kopię zapasową strony internetowej.</p>
    <ol start="7
    ">
    	<li>Sprawdzanie procedur prawnych odbywa się na podstawie informacji udzielonych w  ankiecie szczegółowej. Następnie wyniki tej ankiety przeliczane są na punkty, a ich suma to składowa ostatecznej oceny.</li>
    	<li>Nadanie kategorii Certyfikatu odbywa się w formie decyzji Prezesa Kryptos </li>
    	<li>Otrzymanie kategorii skutkuje przyznaniem Certyfikatu. Dokument zawierający unikalny kod, razem z raportem z przeprowadzonych testów oraz zaleceniami w jaki sposób utrzymać obecny lub zwiększyć poziom bezpieczeństwa wysyłany jest w formie elektronicznej oraz listownie. Do Certyfikatu dołączone jest potwierdzenie nabycia odpowiedniej Licencji.</li>
    	<li>W przypadku zniszczenia bądź zagubienia oryginału Certyfikatu, wciągu 14 dni od otrzymania takiej informacji decyzją Prezesa Kryptos wydawany jest duplikat Certyfikatu. Wydanie duplikatu uzależnione jest od pokrycia kosztów wydruku oraz przesyłki według cennika – pozycja wydanie duplikatu.</li>
    	<li>Negatywna ocena ankiety wstępnej skutkuje odmową przyznania Certyfikatu. Uczestnik zostaje o tym poinformowany pisemnie wraz z zaleceniami, których stosowanie pozwoli na otrzymanie Certyfikatu w przyszłości.</li>
    </ol>
    <h2>Licencja</h2>
    <ol>
    	<li>Licencja jest integralną częścią Certyfikatu. Uczestnik  decyduje, która Licencja jest najbardziej odpowiednia</li>
        <li>
        	Dostępne są  trzy rodzaje Licencji:<br><br>
            <ul>
            	<li>Dla mikro/małych firm* , Instytucja zasięg gminny, Osoba Publiczna**</li>
                <li>Dla średnich firm , Instytucja zasięg powiatowy/wojewódzki, Osoba Publiczna</li>
                <li>Dla dużych firm , Instytucja zasięg ogólnopolski, Osoba Publiczna</li>
            </ul>
            <br>
            <small>*rozróżnienie na mikro/małe, średnie i duże przedsiębiorstwa w oparciu o definicje MŚP (http://www.mg.gov.pl/Wspieranie+przedsiebiorczosci/Polityki+przedsiebiorczosci+i+innowacyjnosci/Definicja+MSP)
			<br><br>**ustalany indywidualnie, dostosowany do potrzeb, wymagań i charakteru osoby publicznej</small>
        </li>
        <li>Dla osób wykonujących <strong>zawód zaufania publicznego</strong> a nie prowadzących własnej działalności gospodarczej rodzaj licencji dobierany jest indywidualnie do charakteru wykonywanego zawodu. Szczegóły zawiera aktualny cennik.</li>
        <li>Rodzaje Licencji dostosowane są do wielkości prowadzonej działalności przez Uczestnika. Jeśli ze względu na prowadzoną działalność, charakter Uczestnik kwalifikuje się do licencji 1 zawsze może wybrać licencje wyższą.</li>
        <li>Licencja – nadawana jest na okres 12 miesięcy. Po tym okresie Licencja będzie wymagała odnowienia. Na miesiąc przed terminem wygaśnięcia skontaktujemy się z Uczestnikiem w celu ustaleniu rodzaju Licencji oraz terminu przeprowadzenia audytu. Uczestnicy Komercyjni otrzymają informacje o dokonaniu płatności a po jej zaksięgowaniu zostaną wykonane czynności w ramach audytu.</li>
        <li>Jeśli w wyniku audytu zmieni się kategoria bezpieczeństwa – wówczas zostanie zaktualizowany Certyfikat. Raport z audytu oraz potwierdzenie nabycia Licencji zostanie przesłany Uczestnikowi.</li>
        <li>W dowolnym momencie można dokonać zmiany Licencji na wyższą. Wybór niższej (jeśli jesteś mikro lub średnim przedsiębiorcą)  Licencji możliwy jest dopiero po okresie 12 miesięcy od każdorazowego odnowienia.</li>
    </ol>
  <h2>Procedura uproszczona przyznania Certyfikatu Bezpieczeństwa</h2>
    <ol>
    	<li>Mocą Uchwały Prezesa Agencji Bezpieczeństwa Komunikacji Kryptos podmioty, które mieszczą się w zakres pojęcia Uczestnik Komercyjny, jeśli charakteryzują się wyjątkową dbałością o ochronę danych osobowych otrzymują statusu Laureata. Uchwała podejmowana jest oddzielnie dla każdego podmiotu.</li>
    	<li>O przyznaniu statusu Laureata podmiot informowany jest listownie, pismem Prezesa Kryptos.</li>
    	<li>Laureat posiada prawo do przeprowadzenia bezpłatnego procesu  certyfikacji oraz uzyskania Certyfikatu Bezpieczeństwa Kryptos xxx-01.</li>
    	<li>Warunkiem otrzymania Certyfikatu Bezpieczeństwa jest pisemne wyrażenie zgody na jego otrzymanie w ciągu 30 dni od doręczenia informacji o przyznania statusu Laureata. Wzór wyrażenia zgody stanowi załącznik nr 1… regulaminu. </li>
    	<li>Każdy Laureat na prawo do skorzystania z bezpłatnego testu penetracyjnego strony internetowej. Informacja o chęci przeprowadzenia testów przesyłana jest razem z wyrażeniem zgody na otrzymanie Certyfikatu. Wzór zgody na testy penetracyjne strony internetowej stanowi załącznik nr 1….. regulaminu.</li>
    	<li>Po otrzymaniu pisemnej zgody Laureat otrzymuje na e-maila oraz listownie Certyfikat Bezpieczeństwa. </li>
    	<li>Kryptos zastrzega sobie prawo do monitorowania czy Laureat nadal charakteryzuje się wysoką dbałością przestrzegania zasad bezpieczeństwa. Jeśli zauważone  zostałyby rażące uchybienia, wówczas zostaną wydane zalecenia, których zastosowanie pozwoli powrócić do wymaganych standardów. Brak podjęcia kroków skutkuje zaleceniem przeprowadzenie całego procesy certyfikacji jakim podlegają wszyscy Uczestnicy. </li>
    	
    </ol>
   <h2>Stosowanie Certyfikatu Bezpieczeństwa i znaku graficznego Certyfikat Bezpieczeństwa</h2>
   <ol>
   		<li>Nazwa Certyfikat Bezpieczeństwa oraz znak graficzny może być używany przez Uczestnika, który go uzyskał w celach informacyjnych, a także reklamowych poprzez umieszczenie znaku na materiałach promocyjnych, stronach internetowych (podanych we wniosku).</li>
        <li>Uczestnik, który utracił Certyfikat, traci prawo do posługiwania się nazwą Certyfikat Bezpieczeństwa oraz znakiem graficznym Certyfikat Bezpieczeństwa z dniem odebrania Certyfikatu przez Prezesa Kryptos.</li>
   </ol> 
  <h2>Utrata certyfikatu</h2>
   <ol>
   		<li>Kryptos zastrzega sobie prawo do monitorowania czy  Uczestnicy  przestrzegają zasady bezpieczeństwa, które potwierdzone są uzyskanym Certyfikatem.</li>
   		<li>Po roku od wydania Certyfikatu zostanie przeprowadzony audyt w ramach odnowienia Licencji. Jeśli w wyniku podjętych testów Uczestnik nie otrzyma pozytywnej oceny, wówczas otrzyma zalecenia podjęcia odpowiednich działań w okresie 14 dni od ich otrzymania. Jeśli w tym okresie nie dostosuje się do tych zaleceń to  w ciągu 14 dni zostanie mu odebrany Certyfikat Bezpieczeństwa.</li>
   		<li>Decyzja o odebraniu Certyfikatu zostanie podjęta  przez Prezesa Kryptos  jest ostateczna i nie podlega odwołaniu. Informacja o niej zostanie wysłana Uczestnikowi pocztą.</li>
   </ol>
  <h2>Konsument</h2>
   <ol>
   		<li>Konsumenci otrzymują dostęp do bieżących informacji z zakresu bezpieczeństwa danych pod adresem www.certyfikatbezpieczenstwa.pl/dla-konsumenta Mogą tam znaleźć aktualne informacje z zakresu bezpieczeństwa komunikacji.</li>
   		<li>Każdy zainteresowany może za pomocą wyszukiwarki znajdującej się pod adresem www.certyfikatbezpieczenstwa.pl/dla-konsumenta . bezpłatnie sprawdzić kto posiada Certyfikat.</li>
   		<li>W przypadku stwierdzenia naruszenia przepisów bezpieczeństwa przez podmioty zdefiniowane w niniejszym regulaminie jako Uczestnicy, każdy Konsument ma prawo zgłosić skargę wypełniając wniosek znajdujący się pod adresem www.certyfikatbezpieczenstwa.pl/dla-konsumenta</li>
   		<li>W przypadku złożenia skargi Organizator niezwłocznie podejmujemy kroki mające na celu wyjaśnienie zaistniałej sytuacji oraz wprowadzenie przez zaskarżony podmiot polityki bezpieczeństwa. </li>
   		<li>O podjętych działaniach Konsument zostanie niezwłocznie poinformowany. Jeśli podmiot nadal będzie łamał przepisy z zakresu bezpieczeństwa, Konsument otrzyma konkretne wskazówki co do  podjęcia ewentualnej interwencji prawnej.</li>
   		<li>W przypadku gdy skarga będzie dotyczyła Uczestnika, niedostosowanie się do otrzymanych wytycznych może spowodować utratę Certyfikatu.</li>
   </ol>
  <h2>Oświadczenia i zasady bezpieczeństwa</h2>
   <ol>
   		<li>Każdy Uczestnik, Laureat mający Certyfikat Bezpieczeństwa zobowiązuje się do ciągłego wprowadzania zmian mających na celu zwiększenie poziomu bezpieczeństwa.</li>
   		<li>Administratorem danych osobowych udostępnionych przez Uczestnika jest Agencja Bezpieczeństwa Komunikacji KRYPTOS Sp. z o.o. z siedzibą w Grybowie, przy ul. Grunwaldzkiej 23 (33-330 Grybów) – zwana danej Administratorem. Administrator przetwarza dane osobowe w sposób zgodny z obowiązującymi przepisami prawa na zasadach określonych w Polityce Ochrony Prywatności Agencji Bezpieczeństwa Komunikacji KRYPTOS Sp. z o.o., w szczególności dotyczących odpowiedniego zabezpieczenia danych. </li>
   		<li>Wszelkie informacje przekazywane przez Uczestników w procesie certyfikacji są odpowiednio  zabezpieczone i objęte ochroną przed dostępem osób trzecich. </li>
   		<li>Posiadane i prowadzone przez Administratora Bazy Danych są zgłoszone do odpowiednich służb, a do ich administrowania wyznaczony jest Administrator Bezpieczeństwa Informacji (ABI). Dostęp do informacji mają tylko upoważnione imiennie osoby przez ABI.</li>
   		<li>Wszystkie informacje przekazane przez Uczestnika w ramach ankiety wstępnej oraz szczegółowej są chronione z zastosowaniem odpowiednich środków  technicznych  i  organizacyjnych  zapewniających  ochronę przetwarzanych  danych  osobowych  odpowiednią  do  zagrożeń  oraz  kategorii  danych objętych ochroną. </li>
   		<li>Uczestnik w ramach procesu certyfikacji bezpłatnie udostępnia Organizatorowi informacje poprzez wypełnienie ankiety wstępnej, szczegółowej oraz w wyniku przeprowadzenia testów penetracyjnych. Przekazane informacje są objęte ustawą o ochronie danych osobowych oraz mogą stanowić tajemnice przedsiębiorstwa. </li>
   		<li>Wszystkie informacje uzyskane i wytworzone w procesie certyfikacyjnym przez Administratora są szyfrowane i przechowywane na szyfrowanych nośnikach pamięci i przetrzymywane w pomieszczeniu zamkniętym do którego dostęp mają tylko określone osoby.  </li>
   		<li>Organizator zobowiązuje się do zachowania w poufności  wszelkich informacji jakie uzyskał w toku wykonywanych czynności audytowych. Dane uzyskane przez Organizatora w wyniku przeprowadzenia testów informatycznych mogą być przetwarzane i modyfikowane tylko w celu pozwalającym na wykonania przez niego procesu Certyfikacji. </li>
   		<li>Wynik z przeprowadzonego audytu będzie upubliczniony tylko w formie końcowej oceny, a nie poszczególnych składowych. Szczegółowe raporty, instrukcji są przekazane tylko Uczestnikowi, którego dotyczą. </li>
   		<li>Raporty z przeprowadzonych testów bezpieczeństwa przekazywane są w formie zaszyfrowanej i nie są dostępne osobom trzecim. </li>
   		<li>Kryptos nie ponosi odpowiedzialności  za przerwy w funkcjonowaniu serwisów podczas wykonywania testów informatycznych oraz za uszkodzenia powstałe w wyniku ich przeprowadzenia. </li>
   		<li>W  momencie zmiany strony internetowej oraz innych danych, które mają wpływ na Kod Certyfikatu, Uczestnik zobowiązany jest każdorazowo  poinformować o tym fakcie Organizatora. Uczestnik zobowiązany jest także na bieżąco informować Organizatora o wszelkich zmianach adresowych, teleadresowych, osób wyznaczonych do kontaktu. </li>
   		<li>Akceptując niniejszy regulamin wyrażam zgodę na umieszczenie informacji (nazwa Uczestnika, Laureata, adres, NIP, REGON, adres strony www, dane teleadresowe, branże, nr Certyfikatu - kategorie, data nadania, historie zmian)w wyszukiwarce, umieszczenia certyfikatu online w postaci substrony. Szczegółowe zasady prowadzonej przez Organizatora polityki prywatności  zawiera dokument – polityka prywatności.</li>
   		<li>Akceptując niniejszy regulamin Wyrażam zgodę/ nie wyrażam zgody* na otrzymywanie drogą elektroniczną treści o charakterze komercyjnym, zwłaszcza reklamy i inne treści o charakterze informacji handlowej wysyłanych przez Agencje Bezpieczeństwa Komunikacji Kryptos Sp. z o.o. właściciela strony CertyfikatBezpieczeństwa.pl.</li>
   		<li>Regulamin udostępniony jest nieodpłatnie pod adresem www….. w formie umożliwiającej jego pobranie, odtwarzanie, utrwalanie i drukowanie. </li>
   		<li>Uczestnik, Konsument  zobowiązany jest do przestrzegania postanowień Regulaminu w części, która go dotyczy.</li>
   </ol>
</article>