<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered example">
    <thead class="ui-widget-header">
    <tr>
        <th>Nr</th>
        <th>Type</th>
        <th>Data transferu</th>
        <th>Data do</th>
        <th>Źródło: podmiot</th>
        <th>Źródło: osoba</th>
        <th>Cel: podmiot</th>
        <th>Cel: osoba</th>
        <th>Zbiór</th>
        <th>Podstawa prawna</th>
        <th>Cel</th>
        <th>Komentarz</th>
    </tr>
    </thead>
    <tbody class="ui-widget-content">
    {foreach $paginator as $d}
        <tr>
            <td>{$d.id}</td>
            <td>{$transferTypes[$d.type].name}</td>
            <td>{smart_date value=$d.transfer_date}</td>
            <td>{$d.transfer_deadline}</td>
            <td>{$d.source_company_name}</td>
            <td>{$d.source_employee_name}</td>
            <td>{$d.target_company_name}</td>
            <td>{$d.target_employee_name}</td>
            <td>{$d.zbior_name}</td>
            <td>{$d.transfer_legal_basics.name}</td>
            <td>{$d.transfer_purpose}</td>
            <td>{$d.transfer_comment}</td>
        </tr>
    {/foreach}
    </tbody>

</table>