<div class="col-sm-12 portlets">
    <div class="widget">
        <div class="widget-header transparent">
            <h2><strong>Data transfered</strong></h2>
        </div>
        <div class="widget-content padding">
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-8">
                        <label>Entrusting the processing of personal data</label>
                        <input type="text" class="form-control" name="nazwa" ng-model="form.transfer.entrusting">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-8">
                        <label>For information about possible data transfer to a third country</label>
                        <input type="text" class="form-control" name="nazwa" ng-model="form.transfer.thirdCountry">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-8">
                        <label>Secure of DPI</label>
                        <input type="text" class="form-control" name="nazwa" ng-model="form.transfer.secure">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-8">
                        <label>Recipients or categories of recipients to whom the data may be transferred</label>
                        <input type="text" class="form-control" name="nazwa" ng-model="form.transfer.recipients">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-8">
                        <label>What's way manage this collection</label>
                        <input type="text" class="form-control" name="nazwa" ng-model="form.transfer.manade">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
