<div class="col-sm-12 portlets">
    <div class="widget">
        <div class="widget-header transparent">
            <h2><strongSensitive DPI</strong></h2>
        </div>
        <div class="widget-content padding">
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-8">
                        <label>Legal basis processing sensitive DPIs</label>
                        <input type="text" class="form-control" name="nazwa" ng-model="form.sensitive.basis">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-8">
                        <label>Czy zbiór zawiera dane wrażliwe?</label>
                        <select class="form-control" name="nazwa" ng-model="form.sensitive.reason">
                            <option></option>
                            <option></option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
