<div class="gallery-wrap">
    {foreach from=$attachments item=attachment}
        <div class="column">
            <div class="inner">
                <a title="{$attachment.name}" href="/files/download/t/{$attachment.token}" target="_blank">
                    <div class="img-wrap">
                        <img class="mfp-fade" title="{$attachment.name}" src="/files/thumbnail/t/{$attachment.token}">
                    </div>
                    <div class="caption-static">
                        {$attachment.name} ({$attachment.size|filesize})
                    </div>
                </a>
            </div>
        </div>
    {/foreach}
</div>