<div class="table-operations-header">
    {if $auth->isGranted('node/course-categories/update')}
    <a class="btn btn-success" href="{$baseUrl}/update" data-title="Dodaj kategorię" data-toggle="tooltip"><i class="fa fa-plus"></i> &nbsp;Dodaj</a>
    {/if}
</div>

<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered example">
    <thead>
    <tr>
        <th data-filter-type="string">Nazwa</th>
        <th>Operacje</th>
    </tr>
    </thead>
    <tbody>
    {foreach $paginator as $d}
        <tr>
            <td><span class="{$d.icon}"></span> {$d.name}</td>
            <td class="operations">
                {if $auth->isGranted('node/course-categories/update', ['id' => $d.id])}
                <a class="glyphicon glyphicon-pencil" href="/course-categories/update/id/{$d.id}" data-toggle="tooltip" title="Edytuj"></a>
                {/if}
                {if $auth->isGranted('node/course-categories/del', ['id' => $d.id])}
                    <a class="glyphicon glyphicon-trash modal-confirm" data-href="/course-categories/del/id/{$d.id}" data-confirmation-class="singleDelete" data-toggle="tooltip" title="USUŃ"></a>
                {/if}
            </td>
        </tr>
    {/foreach}
    </tbody>
</table>