{include file="layouts/_section-title.html"}

<div class="row section-edit-registry" data-id="{$data.id}">
    <div class="col-sm-12 col-md-6">
        <div class="row">
            <div class="col-sm-12">
                <div class="widget section-base-info">
                    <div class="widget-header transparent">
                        <h2>Dane rejestru</h2>
                        <div class="additional-btn">
                            <a href="#" class="widget-toggle"><i class="icon-down-open-2"></i></a>
                        </div>
                    </div>
                    <div class="widget-content">
                        <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-widget">
                            <tbody class="ui-widget-content">
                            <tr>
                                <td>Tytuł: </td>
                                <td>
                                    {$data.title}
                                </td>
                            </tr>
                            <tr>
                                <td>Autor:</td>
                                <td>
                                    {$data.author.display_name}
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    {element tag='a' route='registry/ajax-update' routeParams=['id' => $data.id] attributes=[
                                        'dialog' => [
                                            'process' => 'refreshSection',
                                            'new-dialog' => true
                                        ],
                                        'class' => 'btn btn-xs btn-info',
                                        'data' => [
                                           'refresh-element' => '.section-base-info'
                                        ],
                                        'tooltip' => 'Edytuj dane rejestru',
                                        'innerHtml' => 'Edytuj'
                                    ]}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="widget section-parameters">
                    <div class="widget-header transparent">
                        <h2>
                            Parametry

                            {element tag='a' route='registry/ajax-add-param' routeParams=['id' => {$data.id}] attributes=[
                                'dialog' => [
                                    'process' => 'refreshSection',
                                    'new-dialog' => true
                                ],
                                'data' => [
                                    'refresh-element' => '.section-parameters'
                                ],
                                'icon' => 'add',
                                'class' => 'btn btn-xs btn-success',
                                'tooltip' => 'Dodaj parametr',
                                'innerHtml' => 'Dodaj'
                            ]}
                        </h2>
                        <div class="additional-btn">
                            <a href="#" class="widget-toggle"><i class="icon-down-open-2"></i></a>
                        </div>
                    </div>
                    <div class="widget-content">
                        <table class="table table-striped table-widget">
                            <thead>
                            <tr>
                                <th>Nazwa</th>
                                {*<th class="text-center">Wielokrotny</th>*}
                                <th>Rodzaj</th>
                            </tr>
                            </thead>
                            <tbody>
                            {foreach $data.entities as $entity}
                                <tr>
                                    <td>{$entity.title}</td>
                                    {*<td class="text-center">{smart_string_select value=$entity.is_multiple config=Application_Service_Utilities::STATUS_DISPLAY_YESNO_NEUTRAL}</td>*}
                                    <td>{$entity.entity.title}</td>
                                    <td class="text-right">
                                        {element tag='a' route='registry/ajax-edit-param' routeParams=['param_id' => $entity.id, 'id' => $entity.registry_id] attributes=[
                                            'dialog' => [
                                                'process' => 'refreshSection',
                                                'new-dialog' => true
                                            ],
                                            'icon' => 'edit',
                                            'data' => [
                                                'refresh-element' => '.section-parameters'
                                            ],
                                            'tooltip' => 'Edytuj parametr'
                                        ]}

                                        {element tag='a' route='registry/ajax-remove-param' routeParams=['param_id' => $entity.id, 'id' => $entity.registry_id] attributes=[
                                            'icon' => 'remove',
                                            'data' => [
                                                'ajax' => 1,
                                                'process-more' => 'refreshSection',
                                                'refresh-element' => '.section-parameters'
                                            ],
                                            'delete' => 'singleDelete',
                                            'tooltip' => 'Usuń parametr'
                                        ]}

                                        {element tag='a' route='registry/ajax-order-up-param' routeParams=['param_id' => $entity.id, 'id' => $entity.registry_id] attributes=[
                                            'icon' => 'move-up',
                                            'data' => [
                                                'process-more' => 'refreshSection',
                                                'refresh-element' => '.section-parameters'
                                            ],
                                            'ajax' => true,
                                            'tooltip' => 'Przenieś wyżej'
                                        ]}

                                        {element tag='a' route='registry/ajax-order-down-param' routeParams=['param_id' => $entity.id, 'id' => $entity.registry_id] attributes=[
                                            'icon' => 'move-down',
                                            'data' => [
                                                'process-more' => 'refreshSection',
                                                'refresh-element' => '.section-parameters'
                                            ],
                                            'ajax' => true,
                                            'tooltip' => 'Przenieś niżej'
                                        ]}
                                    </>
                                </tr>
                                {foreachelse}
                                <tr><td colspan="2">Brak załączników</td></tr>
                            {/foreach}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6">
        <div class="row">
            <div class="col-sm-12">
                <div class="widget section-assignees">
                    <div class="widget-header transparent">
                        <h2>
                            Przypisane osoby

                            {element tag='a' route='registry/ajax-add-assignee' routeParams=['id' => {$data.id}] attributes=[
                                'class' => 'btn btn-xs btn-success choose-from-dial',
                                'href' => '',
                                'data' => [
                                    'refresh-element' => '.section-assignees',
                                    'dial-url' => '/osoby/addmini/?useProcess=1',
                                    'dial-ready-fn' => 'filterAssigneePopup',
                                    'dial-process-fn' => 'addAssignee'
                                ],
                                'icon' => 'add',
                                'tooltip' => 'Przypisz pracownika',
                                'innerHtml' => 'Dodaj'
                            ]}
                        </h2>
                        <div class="additional-btn">
                            <a href="#" class="widget-toggle"><i class="icon-down-open-2"></i></a>
                        </div>
                    </div>
                    <div class="widget-content">
                        <table class="table table-striped table-widget">
                            <thead>
                            <tr>
                                <th>Nazwisko i imię</th>
                                <th>Rola</th>
                                <th class="min-width">Operacje</th>
                            </tr>
                            </thead>
                            <tbody id="assignee-list">
                            {foreach $assignees as $assignee}
                                <tr data-id="{$assignee.id}" data-user-id="{$assignee.user.id}">
                                    <td>{$assignee.user.display_name nofilter}</td>
                                    <td>{$assignee.role.title}</td>
                                    <td class="operations">
                                        {element tag='a' route='registry/ajax-remove-assignee' routeParams=['id' => $data.id, 'assignee_id' => $assignee.id] attributes=[
                                            'route-attribute' => 'data-href',
                                            'class' => 'glyphicon glyphicon-trash modal-confirm',
                                            'title' => 'Usuń',
                                            'extra' => ['tooltip'],
                                            'data' => [
                                                'ajax' => '1',
                                                'confirmation-class' => 'singleDelete',
                                                'process-more' => 'removeAssignee'
                                            ]
                                        ]}
                                    </td>
                                </tr>
                                {foreachelse}
                                <tr><td colspan="3">Brak przypisanych osób</td></tr>
                            {/foreach}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="widget section-roles">
                    <div class="widget-header transparent">
                        <h2>
                            Role

                            {element tag='a' route='registry/ajax-add-role' routeParams=['id' => {$data.id}] attributes=[
                                'class' => 'btn btn-xs btn-success',
                                'dialog' => [
                                    'new-dialog' => true,
                                    'process' => 'refreshSection'
                                ],
                                'data' => [
                                    'refresh-element' => '.section-roles'
                                ],
                                'icon' => 'add',
                                'tooltip' => 'Dodaj rolę',
                                'innerHtml' => 'Dodaj'
                            ]}
                        </h2>
                        <div class="additional-btn">
                            <a href="#" class="widget-toggle"><i class="icon-down-open-2"></i></a>
                        </div>
                    </div>
                    <div class="widget-content">
                        <table class="table table-striped table-widget">
                            <thead>
                            <tr>
                                <th>Nazwa</th>
                                <th class="min-width">Operacje</th>
                            </tr>
                            </thead>
                            <tbody id="roles-list">
                            {foreach $roles as $role}
                                <tr data-id="{$role.id}">
                                    <td>{$role.title}</td>
                                    <td class="operations">
                                        {element tag='a' route='registry/ajax-edit-role' routeParams=['id' => $data.id, 'role_id' => $role.id] attributes=[
                                            'dialog' => [
                                                'process' => 'refreshSection',
                                                'new-dialog' => true
                                            ],
                                            'icon' => 'edit',
                                            'data' => [
                                                'refresh-element' => '.section-roles'
                                            ],
                                            'tooltip' => 'Edytuj rolę'
                                        ]}

                                        {element tag='a' route='registry/ajax-remove-role' routeParams=['id' => $data.id, 'role_id' => $role.id] attributes=[
                                            'route-attribute' => 'data-href',
                                            'class' => 'glyphicon glyphicon-trash modal-confirm',
                                            'title' => 'Usuń',
                                            'extra' => ['tooltip'],
                                            'data' => [
                                                'ajax' => '1',
                                                'confirmation-class' => 'singleDelete',
                                                'process-more' => 'removeRole'
                                            ]
                                        ]}
                                    </td>
                                </tr>
                                {foreachelse}
                                <tr><td colspan="3">Brak przypisanych ról</td></tr>
                            {/foreach}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="widget section-permissions">
                    <div class="widget-header transparent">
                        <h2>
                            Uprawnienia

                            {element tag='a' route='registry/ajax-add-permission' routeParams=['id' => {$data.id}] attributes=[
                                'class' => 'btn btn-xs btn-success',
                                'dialog' => [
                                    'new-dialog' => true,
                                    'process' => 'refreshSection'
                                ],
                                'data' => [
                                    'refresh-element' => '.section-permissions'
                                ],
                                'icon' => 'add',
                                'tooltip' => 'Dodaj uprawnienie',
                                'innerHtml' => 'Dodaj'
                            ]}
                        </h2>
                        <div class="additional-btn">
                            <a href="#" class="widget-toggle"><i class="icon-down-open-2"></i></a>
                        </div>
                    </div>
                    <div class="widget-content">
                        <table class="table table-striped table-widget">
                            <thead>
                            <tr>
                                <th>Nazwa</th>
                                <th class="min-width">Operacje</th>
                            </tr>
                            </thead>
                            <tbody id="roles-list">
                            {foreach $permissions as $permission}
                                <tr data-id="{$permission.id}">
                                    <td>{$permission.title}</td>
                                    <td class="operations">
                                        {element tag='a' route='registry/ajax-edit-permission' routeParams=['id' => $data.id, 'permission_id' => $permission.id] attributes=[
                                            'dialog' => [
                                                'process' => 'refreshSection',
                                                'new-dialog' => true
                                            ],
                                            'icon' => 'edit',
                                            'data' => [
                                               'refresh-element' => '.section-permissions'
                                            ],
                                            'tooltip' => 'Edytuj uprawnienie'
                                        ]}

                                        {element tag='a' route='registry/ajax-remove-permission' routeParams=['id' => $data.id, 'permission_id' => $permission.id] attributes=[
                                            'route-attribute' => 'data-href',
                                            'class' => 'glyphicon glyphicon-trash modal-confirm',
                                            'title' => 'Usuń',
                                            'extra' => ['tooltip'],
                                            'data' => [
                                                'ajax' => '1',
                                                'confirmation-class' => 'singleDelete',
                                                'process-more' => 'removeRole'
                                            ]
                                        ]}
                                    </td>
                                </tr>
                                {foreachelse}
                                <tr><td colspan="3">Brak przypisanych uprawnień</td></tr>
                            {/foreach}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="widget section-documents">
                    <div class="widget-header transparent">
                        <h2>
                            Dokumenty

                            {element tag='a' route='registry/ajax-add-document-template' routeParams=['id' => {$data.id}] attributes=[
                                'dialog' => [
                                    'process' => 'refreshSection',
                                    'new-dialog' => true
                                ],
                                'data' => [
                                    'refresh-element' => '.section-documents'
                                ],
                                'icon' => 'add',
                                'class' => 'btn btn-xs btn-success',
                                'tooltip' => 'Dodaj dokument',
                                'innerHtml' => 'Dodaj'
                            ]}
                        </h2>
                        <div class="additional-btn">
                            <a href="#" class="widget-toggle"><i class="icon-down-open-2"></i></a>
                        </div>
                    </div>
                    <div class="widget-content">
                        <table class="table table-striped table-widget">
                            <thead>
                            <tr>
                                <th>Tytuł</th>
                                <th>Numeracja</th>
                                <th>Operacje</th>
                            </tr>
                            </thead>
                            <tbody id="assignee-list">
                            {foreach $data.documents_templates as $documentTemplate}
                                <tr data-id="{$documentTemplate.id}">
                                    <td>{$documentTemplate.title}</td>
                                    <td>{$documentTemplate.numbering_scheme}</td>
                                    <td>
                                        {element tag='a' route='registry/ajax-edit-document-template' routeParams=['document_template_id' => $documentTemplate.id, 'id' => $data.id] attributes=[
                                            'dialog' => [
                                                'process' => 'refreshSection',
                                                'new-dialog' => true
                                            ],
                                            'icon' => 'edit',
                                            'data' => [
                                                'refresh-element' => '.section-documents'
                                            ],
                                            'tooltip' => 'Edytuj dokument'
                                        ]}

                                        {element tag='a' route='registry/ajax-remove-document-template' routeParams=['document_template_id' => $documentTemplate.id, 'id' => $data.id] attributes=[
                                            'icon' => 'remove',
                                            'data' => [
                                                'ajax' => 1,
                                                'process-more' => 'refreshSection',
                                                'refresh-element' => '.section-documents'
                                            ],
                                            'delete' => 'singleDelete',
                                            'tooltip' => 'Usuń dokument'
                                        ]}
                                    </td>
                                </tr>
                                {foreachelse}
                                <tr><td colspan="3">Brak przypisanych osób</td></tr>
                            {/foreach}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        {element tag='a' route='registry-entries/update' routeParams=['registry_id' => $data.id] attributes=[
            'class' => 'btn btn-success',
            'icon' => 'plus',
            'tooltip' => 'Dodaj wpis',
            'innerHtml' => 'Dodaj wpis'
        ]}
    </div>
</div>

<script type="text/javascript">
    backendUtilities.addVatidationEngine("f_profile");

    var assigneeList = $('#assignee-list'),
        rolesList = $('#roles-list'),
        registryId = $('.section-edit-registry').attr('data-id');

    filterAssigneePopup = function() {
        assigneeList.children().each(function () {
            $('#optsSearch').find('#id' + this.getAttribute('data-user-id')).addClass('locked');
        });
    };

    addAssignee = function(id, object, status) {
        $('.modal.in').modal('hide');
        $.ajax({
            dataType: 'html',
            url: '/registry/ajax-add-assignee-choose-role/id/'+ registryId +'/user_id/' + id,
            method: 'POST',
            success: function(result) {
                refreshElement('#assignee-list');
                newDialogSuccess(result);
            }
        });
    };

    processAddAssignee = function() {
        $('.modal.in').modal('hide');
        refreshElement('.section-assignees');
    };

    removeAssignee = function(result) {
        removeWithEffect(assigneeList.children().filter('[data-id='+result.removedObject.id+']'));
    };

    removeRole = function(result) {
        removeWithEffect(rolesList.children().filter('[data-id='+result.removedObject.id+']'));
    };
</script>