<input type="hidden" name="{$element.name}" id="{$element.name}_elements">
<div class="form-group hidden" id="section-attachments-add-{$element.id}">
    <label class="col-sm-2">Załączniki:</label>
    <div class="col-sm-12 portlets ui-sortable">
        <!-- Your awesome content goes here -->
        <div class="widget messages-dropzone">
            <div id="attachments-dropzone-{$element.id}" class="dropzone">
                <div class="dz-default dz-message"></div>
            </div>
        </div>
    </div>
</div>
<div class="form-group">
    <div class="col-sm-12">
        <button type="button" class="btn btn-default show-section"
                data-target="#section-attachments-add-{$element.id}"
                data-auto-hide=".form-group >>"
        >Dodaj załączniki</button>
    </div>
</div>
<script>
    (function() {
        var dropzoneId = '#attachments-dropzone-{$element.id}';
        documentDropzone = enableDropzoneWidget(dropzoneId, {
            url: '/upload.php',
            params: {
                dirname: 'default'
            }
        });

        var form = $(dropzoneId).closest('form');
        form.on('submit', function() {
            var uploadedFiles = documentDropzone.getAcceptedFiles(),
                    filesData = [];

            $.each(uploadedFiles, function() {
                filesData.push({
                    name: this.name,
                    uploadedUri: this.xhr.response
                });
            });

            form.find('#{$element.name}_elements').val(JSON.stringify(filesData));
        });
    })();
</script>