<div class="row">
    <div class="col-sm-3 col-sm-offset-9">
        <form class="form-horizontal" role="form" action="/komunikacja" name="ss">
            <div class="col-sm-9 col-sm-offset-3">
                <div class="form-group form-search search-box has-feedback">
                    <input type="text" class="form-control full-rounded" id="inputSuccess5" placeholder="Szukaj..." name="szukaj">
                    <a class="btn btn-link" href="" onclick="document.forms['ss'].submit();return false;"><span class="fa fa-search form-control-feedback"></span></a>
                </div>
            </div>
        </form>
    </div>
</div>