<h1>Operacje</h1>

<div class="row">
    <div class="col-sm-12">
        {element tag='a' route='osoby/clone' routeParams=['id' => $id] attributes=[
            'class' => 'btn btn-default',
            'tooltip' => 'Duplikuj',
            'innerHtml' => 'Duplikuj'
        ]}
    </div>
</div>

<hr>

<div class="row">
    <div class="col-sm-12">
        {element tag='a' route='osoby/proposal/name/employee_add' routeParams=['user_id' => $id] attributes=[
            'class' => 'btn btn-default',
            'tooltip' => 'Utwórz wniosek o zatrudnienie',
            'innerHtml' => 'Utwórz wniosek o zatrudnienie'
        ]}
    </div>
</div>
