<div>
    <fieldset>
        <form method="post" id="fileimport" role="form" enctype="multipart/form-data" action="/osoby/process" class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-12">
                    <label for="fields">Wybierz plik:</label>
                    <input required type="file" name="fields" id="fields" class="" />
                </div>
            </div>
            <div>
                <a href="/osoby" class="btn btn-default">Powrót</a>
                <input type="submit" value="Prześlij" class="btn btn-info" />
            </div>
        </form>
    </fieldset>
</div>
