{$message}

<h2>Wykaz - podpisy elektroniczne</h2>
{include file='modals/modal.tpl' title='Podpisy elektroniczne - co to jest?' content='Podpisy elektroniczne to rejestr zawierający podpisy elektroniczne, którymi dysponujesz. Dodaj tutaj podpisy, którymi dysponujesz oraz dodaj osoby upoważnione do ich używania.'}
<hr>
<div class="table-operations-header">
    {if $auth->isGranted('node/osoby/podpisyupdate')}
    <a class="btn btn-success" href="/osoby/podpisyupdate" data-title="Dodaj podpis" data-toggle="tooltip"><i class="fa fa-plus"></i> &nbsp;Dodaj</a>
    {/if}
</div>
<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered example" >
            	<thead>
                    <tr>
                    	<th>podpis</th>
                       	<th>numer</th>
                        <th width="125px;"></th>
                    </tr>
                </thead>
                <tbody class="ui-widget-content">
                    {foreach $paginator as $d}
                    <tr>
                        <td>{$d.podpis}</td>
                        <td>{$d.numer}</td>
                        <td>
                            {if $auth->isGranted('node/osoby/podpisyupdate', ['id' => $d.id])}
                            <a class="glyphicon glyphicon-pencil" href="/osoby/podpisyupdate/id/{$d.id}" data-toggle="tooltip" title="Edytuj"></a>
                            {/if}
                            {if $auth->isGranted('node/osoby/podpisyosoby', ['id' => $d.id])}
                            <a class="glyphicon glyphicon-user" href="/osoby/podpisyosoby/id/{$d.id}" data-toggle="tooltip" title="Osoby"></a>
                            {/if}
                            {if $auth->isGranted('node/osoby/podpisydel', ['id' => $d.id])}
                            <a class="glyphicon glyphicon-trash modal-confirm" data-href="/osoby/podpisydel/id/{$d.id}" data-confirmation-class="singleDelete" data-toggle="tooltip" title="USUŃ"></a>
                            {/if}
                        </td>
                    </tr>
                    {/foreach}
                </tbody>

</table>
<h2>Upoważnienia</h2>
<hr>
<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered example">
            	<thead class="ui-widget-header">
                	<tr>
                    	<th>imię</th>
                    	<th>nazwisko</th>
                    	<th>daty</th>
                        <th>podpis</th>
                        <th width="100px;"></th>
                    </tr>
                </thead>
                <tbody class="ui-widget-content">
                	{foreach $przypisaneOsoby as $o}
                	<tr>
                        <td>{$o.imie|ucfirst}</td>
                        <td>{$o.nazwisko|ucfirst}</td>
                        <td>{if $o.data_od != '0000-00-00 00:00:00'}{$o.data_od|substr:0:10}{/if} - {if $o.data_do != '0000-00-00 00:00:00'}{$o.data_do|substr:0:10}{/if}</td>
                        <td>{$o.podpis} {$o.numer}</td>
                        <td>
                            {if $auth->isGranted('node/osoby/podpisyosoby', ['id' => $o.podpisId])}
                            <a href="/osoby/podpisyosoby/id/{$o.podpisId}" class="glyphicon glyphicon-pencil" data-toggle="tooltip" title="Edytuj"></a>
                            {/if}
                            {if $auth->isGranted('node/osoby/podpisyosobadel', ['id' => $o.podpisId, 'osoba' => $o.osoba])}
                            <a onclick="if(confirm('Usunąć?')) window.location.href='/osoby/podpisyosobadel/id/{$o.podpisId}/osoba/{$o.osoba}'" href="javascript:;" class="glyphicon glyphicon-trash"></a>
                            {/if}
                        </td>
                    </tr>
                    {/foreach}
                </tbody>

</table>