<div class="row">
    <div class="col-md-6">
        <div class="well">
            Zmiana hasła użytkownika {$osoba.nazwisko} {$osoba.imie} {$osoba.login_do_systemu}.
        </div>

        <form action="/osoby/reset-password-save" method="post">
            <input type="hidden" name="id" value="{$osoba.id}"/>
            <div>
                <a href="/osoby" class="btn btn-default">Powrót</a>
                <button type="submit" name="formAction" value="show" class="btn btn-info">Potwierdź</button>
            </div>
        </form>
    </div>
</div>