<style type="text/css">
    #header {
        text-align: center;
        font-size:22pt !important;
        font-weight:bold;
        margin-bottom:30px;
    }
    h2 {
        font-size:18pt !important;
        text-align: center;
        margin-bottom:15px;
    }
    .hr {
        margin: 12px 0;
        border:0 !important;
    }
    .content,
    .content p,
    .content li {
        font-size:10pt;
        line-height:14pt;
    }
    .center-image {
        text-align: center;
        margin:8px 0;
    }
    .main-data {
        font-size:12pt;
        border-width:3px;
        border-collapse: collapse;
    }
    .main-data th, {
    .main-data td {
        border-width:3px;
        padding:10px;
    }
</style>

{foreach $osoby as $osoba}
<div style="page-break-after: always">
    <div id="header">Formularz aktywacji systemu Kryptos24</div>

    <div class="content">
        <h2>Dane do logowania:</h2>

        <table class="main-data" cellpadding="0" cellspacing="0">
            <tr>
                <th>Imię i nazwisko</th>
                <th>Identyfikator</th>
                <th>Hasło jednorazowe</th>
            </tr>
            <tr>
                <td>{$osoba.imie} {$osoba.nazwisko}</td>
                <td>{$osoba.login_do_systemu}</td>
                <td>{$osoba.password_decrypted}</td>
            </tr>
        </table>

        <div class="hr">&nbsp;</div>

        <div style="page-break-inside: avoid">
            <h2>Skrócona instrukcja aktywacji KRYPTOS24:</h2>
            <ol>
                <li>Otwieramy przeglądarkę internetową, tak jakbyśmy chcieli wejść na onet, do banku lub na pocztę e-mail.</li>
                <li>W pasku adresu strony internetowej wpisujemy adres: <a href="http://{$system_address}/">http://{$system_address}/</a></li>
                <li>Następnie wprowadzamy identyfikator przekazany na formularzu aktywacyjnym. Nasz identyfikator to dwie pierwsze litery imienia, dwie pierwsze litery nazwiska oraz liczba porządkowa.</li>
                <li>Klikamy Zaloguj</li>
                <li>
                    Wprowadzamy jednorazowe hasło aktywacyjne wpisując tylko wybrane znaki hasła, nie całe hasło.<br>
                    <div class="center-image">
                        <img src="http://{$system_address}/assets/images/reset-password-01.png" alt="" align="center">
                    </div>
                    W tym przypadku dla hasła TestHasla2@9 wpisujemy znaki sHsla2 w odpowiednie miejsca.
                </li>
                <li>Klikamy Zaloguj</li>
                <li>W oknie zmiany hasła, wpisujemy pełne hasło aktywacyjne jakie znajdziemy na formularzu aktywacyjnym.</li>
                <li>Poniżej wpisujemy nowe hasło wymyślone przez nas (od 10 do 15 znaków, minimum jedna mała/duża litera, minimum jedna cyfra, minimum jeden znak specjalny np. !, @, #) Przykładowe hasło: Grui97@@$ZZZja</li>
                <li>Następnie powtarzamy nowe hasło.</li>
                <li>Klikamy przycisk potwierdzenia operacji.</li>
                <li>Jeśli kroki wykonaliśmy poprawnie to zostaniemy automatycznie przeniesieni do głównego okna logowania i możemy się zalogować na nowe dane.</li>
            </ol>
            <p>System wymusza zmianę hasła co 30 dni, jednak zawsze masz możliwość zmiany hasła samodzielnie.</p>

            <div class="hr">&nbsp;</div>
        </div>

        <div style="page-break-inside: avoid">
            <h2>Jak podpisać dokument z E-podpisem Kryptos?</h2>
            <ol>
                <li>Wybierz element z Listy zadań</li>
                <li>Potwierdź zapoznanie się z dokumentem zaznaczając checkboxa</li>
                <li>Kliknij w przycisk „Akceptuję i podpisuję”</li>
                <li>Otworzy się okno e-akceptacji, gdzie należy zalogować się ponownie</li>
            </ol>
            <p>O nowym zadaniu zostaniemy poinformowani w prawym górnym rogu<br>
                Zawsze masz dostęp do listy wszystkich złożonych podpisów wraz z dokumentem poświadczenia.</p>

            <div class="hr">&nbsp;</div>
        </div>

        <div style="page-break-inside: avoid">
            <h2>Jak wysyłać/odbierać wiadomości w systemie?</h2>
            <ol>
                <li>Klikamy w lewym Menu na „Komunikacja” i przechodzimy do naszej skrzynki odbiorczej</li>
                <li>By skontaktować się z dowolnym pracownikiem klikamy „Nowa wiadomość”</li>
                <li>Wybieramy z listy adresata wiadomości, wpisujemy temat oraz treść. Istnieje również możliwość dodania załącznika</li>
                <li>Klikamy „Wyślij”</li>
            </ol>
            <p>O nowej wiadomości zostaniemy powiadomieni w prawym górnym rogu</p>

            <div class="hr">&nbsp;</div>
        </div>

        <div style="page-break-inside: avoid">
            <h2>Jak dodać incydent bezpieczeństwa?</h2>
            <ol>
                <li>Wybieramy element lewego menu  zakładkę „Komunikacja”, podzakładkę „ Zgłoszenia”  i wybieramy „Incydent”</li>
                <li>Wypełniamy formularz osobowo lub anonimowo, podając: okoliczności oraz miejsce zdarzenia</li>
                <li>Potwierdzamy zgłoszenie klikając na przycisk, na końcu formularza.</li>
            </ol>
        </div>

    </div>
</div>
{/foreach}
