<div class="row">
    <div class="col-md-6">
        <div class="well">
            Zmieniono hasło użytkownika {$osoba.nazwisko} {$osoba.imie} {$osoba.login_do_systemu}.
            <br>
            <b>Nowe hasło</b>: {$password}
        </div>
        <form action="/osoby/reset-password-download" method="post">
            <input type="hidden" name="ids[]" value="{$osoba.id}"/>
            <div>
                <a href="/osoby" class="btn btn-default">Powrót</a>
                <button type="submit" name="formAction" value="show" class="btn btn-info">Pobierz instrukcję aktywacji</button>
            </div>
        </form>
    </div>
</div>