 <div class="navbar navbar-default" role="navigation">

        <div class="container">

		   <div class="row">

                  <div class="col-md-4">

                      <img class="img-responsive" src="images/logo.jpg" style="width:167px; margin-left:65px;" />

                 </div>

            <div class="col-md-8">

                <ul class="nav navbar-nav navbar-right top-navbar">

                    <li class="dropdown iconify hide-phone">

                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-globe"></i><span class="label label-danger absolute">4</span></a>

                        <ul class="dropdown-menu dropdown-message">

                            <li class="dropdown-header notif-header"><i class="icon-bell-2"></i> New Notifications<a class="pull-right" href="#"><i class="fa fa-cog"></i></a></li>

                            <li class="unread">

                                <a href="#">

                                    <p><strong>John Doe</strong> Uploaded a photo <strong>&#34;DSC000254.jpg&#34;</strong>

                                        <br /><i>2 minutes ago</i>

                                    </p>

                                </a>

                            </li>

                            <li class="unread">

                                <a href="#">

                                    <p><strong>John Doe</strong> Created an photo album  <strong>&#34;Fappening&#34;</strong>

                                        <br /><i>8 minutes ago</i>

                                    </p>

                                </a>

                            </li>

                            <li>

                                <a href="#">

                                    <p><strong>John Malkovich</strong> Added 3 products

                                        <br /><i>3 hours ago</i>

                                    </p>

                                </a>

                            </li>

                            <li>

                                <a href="#">

                                    <p><strong>Sonata Arctica</strong> Send you a message <strong>&#34;Lorem ipsum dolor...&#34;</strong>

                                        <br /><i>12 hours ago</i>

                                    </p>

                                </a>

                            </li>

                            <li>

                                <a href="#">

                                    <p><strong>Johnny Depp</strong> Updated his avatar

                                        <br /><i>Yesterday</i>

                                    </p>

                                </a>

                            </li>

                            <li class="dropdown-footer">

                                <div class="btn-group btn-group-justified">

                                    <div class="btn-group">

                                        <a href="#" class="btn btn-sm btn-primary"><i class="icon-ccw-1"></i> Refresh</a>

                                    </div>

                                    <div class="btn-group">

                                        <a href="#" class="btn btn-sm btn-danger"><i class="icon-trash-3"></i> Clear All</a>

                                    </div>

                                    <div class="btn-group">

                                        <a href="#" class="btn btn-sm btn-success">See All <i class="icon-right-open-2"></i></a>

                                    </div>

                                </div>

                            </li>

                        </ul>

                    </li>

                    <li class="dropdown iconify hide-phone">

                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i><span class="label label-danger absolute">3</span></a>

                        <ul class="dropdown-menu dropdown-message">

                            <li class="dropdown-header notif-header"><i class="icon-mail-2"></i> New Messages</li>

                            <li class="unread">

                                <a href="#" class="clearfix">

                                    <img src="images/users/chat/2.jpg" class="xs-avatar ava-dropdown" alt="Avatar">

                                    <strong>John Doe</strong><i class="pull-right msg-time">5 minutes ago</i><br />

                                    <p>Duis autem vel eum iriure dolor in hendrerit ...</p>

                                </a>

                            </li>

                            <li class="unread">

                                <a href="#" class="clearfix">

                                    <img src="images/users/chat/1.jpg" class="xs-avatar ava-dropdown" alt="Avatar">

                                    <strong>Sandra Kraken</strong><i class="pull-right msg-time">22 minutes ago</i><br />

                                    <p>Duis autem vel eum iriure dolor in hendrerit ...</p>

                                </a>

                            </li>

                            <li>

                                <a href="#" class="clearfix">

                                    <img src="images/users/chat/3.jpg" class="xs-avatar ava-dropdown" alt="Avatar">

                                    <strong>Zoey Lombardo</strong><i class="pull-right msg-time">41 minutes ago</i><br />

                                    <p>Duis autem vel eum iriure dolor in hendrerit ...</p>

                                </a>

                            </li>

                            <li class="dropdown-footer"><div class=""><a href="#" class="btn btn-sm btn-block btn-primary"><i class="fa fa-share"></i> See all messages</a></div></li>

                        </ul>

                    </li>

                    <li class="dropdown iconify hide-phone"><a href="#" onclick="javascript:toggle_fullscreen()"><i class="icon-resize-full-2"></i></a></li>

                    <li class="dropdown topbar-profile">

                        <a href="#" style="color:#f3f3f3 !important;"><span class="rounded-image topbar-profile-image" ><img src="images/users/user-35.jpg"></span>Welcome <strong>Residents</strong></a>

                    </li>

                </ul>

			  </div>

            </div>

            <!--/.nav-collapse -->

        </div>

    </div>

<!-- Top Bar End -->

		    <!-- Start right content -->

        <div class="content-page">

			<!-- ============================================================== -->

			<!-- Start Content here -->

			<!-- ============================================================== -->

            <div class="content padding_t">

								<!-- Page Heading Start -->

				<div class="page-heading">

            		<h1><i class='fa fa-check'></i>Diwakar Resident's Incident Form</h1>

            		            	</div>

            	<!-- Page Heading End-->	

								

				<!-- Your awesome content goes here -->

				<div class="row">

					

					<div class="col-sm-8 portlets">

						<form method="POST" action="/webform/saveform">

							<table id="user" class="table table-bordered table-striped" style="clear: both">

					            <tbody> 

									<tr>         

										<td width="35%">First Name:</td>

										<td width="65%"><a href="#" id="firstname" data-type="text" data-pk="1" data-title="Enter Your First Name">Your First Name</a></td>

									</tr>

									<tr>         

										<td width="35%">Surname:</td>

										<td width="65%"><a href="#" id="surname" data-pk="1" data-type="text" data-title="Enter Surname">Your Surname</a></td>

									</tr>

									<tr>         

										<td width="35%">E-Mail:</td>

										<td width="65%"><a href="#" id="email" data-pk="1" data-type="text" data-title="Enter E-mail">your@gmail.com</a></td>

									</tr>  

									<tr>         

										<td width="35%">Telephone Number:</td>

										<td width="65%">

										<input type="text" class="form-control" id="input-text-disabled" placeholder="+48" disabled="" style="width: 50px; height:29px; display: inline-flex;">

										<a href="#" id="telephone" data-pk="1" data-type="text" data-title="Enter Telephone Number">987654321</a></td>

									</tr>

									<tr>         

										<td width="35%">Description of Application:</td>

										<td width="65%"><a href="#" id="description" data-pk="1" data-type="textarea" data-title="Enter Description of Application">Enter Description of Application</a></td>

									</tr> 

									<tr>         

										<td>Location</td>

										<td class="location">

										<a href="#" class="location" id="apartment" data-type="select2" data-pk="1" data-value="BS" data-title="Select Apartment Number">Apartment</a>

										<a href="#" class="location" id="settlement" data-type="select2" data-pk="1" data-value="BS" data-title="Select Settlement Name">Settlement</a>

										<a href="#" class="location" id="block" data-type="select2" data-pk="1" data-value="BS" data-title="Select Block Number">Block</a>

										</td>

									</tr> 

									<tr>         

										<td></td>

										<td>

										<button id="save-btn" class="btn btn-primary" style="display: inline-block;">Submit</button>

										</td>

									</tr> 

					            </tbody>

					        </table>

						</form>

					</div>

				</div>

			</div>

		</div>

				<!-- End of your awesome content -->

			

				            <!-- Footer Start -->

            <footer>

                Kryptos &copy; 2018

                <div class="footer-links pull-right">

                	<a href="#">About</a><a href="#">Support</a><a href="#">Terms of Service</a><a href="#">Legal</a><a href="#">Help</a><a href="#">Contact Us</a>

                </div>

            </footer>

            <!-- Footer End -->			

	<div class="md-overlay"></div>

	<!-- End of eoverlay modal -->