{$message}

<ul class="nav nav-tabs">
    <li class="active"><a href="#adr" data-toggle="tab">Adresaci</a></li>
    <li><a href="#odb" data-toggle="tab">Odbiorcy</a></li>
</ul>
<div class="tab-content">
    <div class="tab-pane active form-horizontal" id="adr" style="padding:15px 5px">

        <div class="form-group">
            <label class="col-sm-2 control-label">Termin zapoznania</label>
            <div class="col-sm-3">
                <form id="forall" name="forall" action="/dokumentyzszablonu/sendforall" method="POST" class="form-horizontal" role="form">
                    <input id="data_zap" name="data_zap" type="text" class="form-control datepicker-input" >
                    <input type="hidden" name="szablon_id" id="id" value="{$szablonId}" />
                </form>
            </div>
            <input type="submit" value="Wyślij do wszystkich"  class="btn btn-info" form="forall" >
            <input type="submit" value="Wyślij do wybranych"  class="btn btn-info" onclick="getValue()"  form="any">
        </div>
        <form  id="any" action="/dokumentyzszablonu/send" method="POST" class="form-horizontal" role="form">
            <table id="adres" cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered example"  >
                <thead>
                    <tr>
                        <td>Imię i nazwisko</td>
                        <td>Dział</td>
                        <td>Login</td>
                        <td style="width: 50px">Akcja</td>
                    </tr>
                </thead>
                <tbody>
                    {foreach $adresaci as $a}
                    <tr>
                        <td>{$a.imie} {$a.nazwisko}</td>
                        <td>{$a.dzial}</td>
                        <td>{$a.login_do_systemu}</td>
                        <td>

                            <input type="checkbox" name="{$a.id}" id="dat{$a.id}" value="sender"/>

                        </td>
                    </tr>
                    {/foreach}
                </tbody>
            </table>
            <input type="hidden" name="szablon_id" id="id" value="{$szablonId}" />
            <input type="hidden" name="data" id="data" />
        </form>
    </div>


    <div class="tab-pane" id="odb" style="padding:15px 5px">
        <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered example" >
            <thead>
                <tr>
                    <td>Imię i nazwisko</td>
                    <td>Login</td>
                    <td> Termin zapoznania</td>
                    <td> Przeczytane</td>
                    <td style="width: 50px">Akcja</td>
                </tr>
            </thead>
            <tbody>
                {foreach $odbiorcy as $a}
                <tr>
                    <td>{$a.imie} {$a.nazwisko}</td>
                    <td>{$a.login_do_systemu}</td>

                    <td> {if $a.termin_zapoznania==0}Brak{else} {$a.termin_zapoznania} {/if}</td>
                    <td> {if $a.czas_zapoznania==0}nie{else} {$a.czas_zapoznania} {/if}</td>

                    <td>
                                                <a class="glyphicon glyphicon-trash" onclick="if (confirm('Usunąć?'))
                                    window.location.href = '/dokumentyzszablonu/deldok/iddok/{$a.id}/idsz/{$szablonId}'" href="javascript:;"></a>
                    </td>
                </tr>
                {/foreach}
            </tbody>
        </table>
        Przeczytanych {$prz} z {$sum}
    </div>
</div>

<script>
    function getValue()
    {
        var d1 = document.getElementById("data_zap");
        var d2 = document.getElementById("data");
        d2.value = d1.value;
    }
</script>