{$message}
<div class="body-action">
    <a class="btn btn-info" href="/documentation-logs/update">Dodaj czynność</a>
    <a class="btn btn-info" href="/documentation-logs/report">Raport</a>
</div>
<div style="height:10px"></div>
<hr class="nomargin"/>
<div style="height:10px"></div>
<form method="post" action="/documentation-logs/delChecked/">
    <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered example">
        <thead class="ui-widget-header">
        <tr>
            <th></th>
            <th>Nr</th>
            <th>Tytuł</th>
            <th>Data od</th>
            <th>Data do</th>
            <th>Identyfikator raportu</th>
            <th>Audytor</th>
            <th>Operacje</th>
        </tr>
        </thead>
        <tbody class="ui-widget-content">
        {foreach $paginator as $d}
        <tr>
            <td>
                <input type="checkbox" name="id[]" id="id{$d.id}" value="{$d.id}"/>
            </td>
            <td>{$d@iteration}</td>
            <td>{$d.title}</td>
            <td>{smart_date value=$d.date_start}</td>
            <td>{smart_date value=$d.date_end}</td>
            <td>{$d.log_unique_id}</td>
            <td>{$d.auditor}</td>
            <td>
                {if $auth->isGranted('node/documentation-logs/update', ['id' => $d.id])}
                <a class="glyphicon glyphicon-pencil" href="/documentation-logs/update/id/{$d.id}" data-toggle="tooltip" title="Edytuj"></a>
                {/if}
                {if $auth->isGranted('node/documentation-logs/update/copy')}
                <a class="glyphicon glyphicon-star" href="/documentation-logs/update/copy/{$d.id}" data-toggle="tooltip" title="Duplikuj"></a>
                {/if}
                {if $auth->isGranted('node/documentation-logs/del')}
                <a class="glyphicon glyphicon-trash modal-confirm" data-href="/documentation-logs/del/id/{$d.id}" data-confirmation-class="singleDelete" data-toggle="tooltip" title="USUŃ"></a>
                {/if}
            </td>
        </tr>
        {/foreach}
        </tbody>

    </table>
    {if $userIsKodoOrAbi}
    <input type="submit" value="Usuń zaznaczone" class="btn btn-default" onclick="return confirm('Usunąć?')"/>
    {/if}
</form>