<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered example">
    <thead class="ui-widget-header">
        <tr>
            <th data-filter-type="string" class="min-width">id</th>
            <th data-filter-type="string">Użytkownik</th>
            <th data-filter-type="date-range">Data operacji</th>
            <th data-filter-type="string">Pole</th>
            <th data-filter-type="string">Przed zmianą</th>
            <th data-filter-type="string">Po zmianie</th>
            <th data-filter-type="string">Typ zmiany</th>
        </tr>
    </thead>
    <tbody class="ui-widget-content">

        {foreach $changelog as $zc}
        <tr>
            <td>{$zc.id}</td>
            <td>
                {$zc.user.login}
            </td>
            <td>{smart_date value=$zc.date}</td>
            <td>{$zc.field}</td>
            <td>{$zc.old_value}</td>
            <td>{$zc.new_value}</td>
            <td>
                {if $zc.old_value == ''}
                DODANIE
                {elseif $zc.new_value == ''}
                USUNIĘCIE
                {else}
                MODYFIKACJA
                {/if}
            </td>
        </tr>
        {/foreach}
    </tbody>

</table>