<style>
.ui-autocomplete {
    max-height: 100px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    font-size:11px;
    width:170px;
  }
  /* IE 6 doesn't support max-height
   * we use height instead, but this forces the menu to always be this tall
   */
  * html .ui-autocomplete {
    height: 100px;
  }
</style>
<script>
    $('#myTab a').click(function (e) {
        e.preventDefault()
        $(this).tab('show')
    })
	var arr = $.parseJSON('{$json}');
	var select = '<select class="osoby_select" name="osoby[]">';
    for(var key in arr)
    {
        if(arr.hasOwnProperty(key))
        {
        	select += '<option value="' + arr[key].id + '">' + arr[key].login_do_systemu + '</option>';
        }
    }
	select += '</select>'
	var szablony = [];
	{foreach $szablony as $s}
	szablony[{$s.id}] = $.parseJSON('{$s.szablon}');
	{/foreach}
{literal}
	function selectos_change()
	{
		$(this).parent().parent().children().find('input.czy').attr('name', 'czytanie['+ $(this).val() +']');
		$(this).parent().parent().children().find('input.poz').attr('name', 'pozyskiwanie['+ $(this).val() +']');
		$(this).parent().parent().children().find('input.wpr').attr('name', 'wprowadzanie['+ $(this).val() +']');
		$(this).parent().parent().children().find('input.mod').attr('name', 'modyfikacja['+ $(this).val() +']');
		$(this).parent().parent().children().find('input.usu').attr('name', 'usuwanie['+ $(this).val() +']');
	}
$(function (){
	$("#osoby_do_zbioru .dodaj_osobe").on('click', function(ev){
		  ev.preventDefault();
		  $("#osoby_do_zbioru table tbody tr").removeClass('new_os');
		  $("#osoby_do_zbioru table tbody").prepend('  <tr class="new_os">	<td>' + select +'</td>'
				  									+'		<td><input type="checkbox" class="czy" name="czytanie[]"></td>'
				  									+'		<td><input type="checkbox" class="poz" name="pozyskiwanie[]"></td>'
				  									+'		<td><input type="checkbox" class="wpr" name="wprowadzanie[]"></td>'
				  									+'		<td><input type="checkbox" class="mod" name="modyfikacja[]"></td>'
				  									+'		<td><input type="checkbox" class="usu" name="usuwanie[]"></td><td><a class="usun_osobe" href="#">X</a></td>'
				  									+' </tr>');
		  $("#osoby_do_zbioru table tbody tr.new_os td input").fancyfields();
		  $("#osoby_do_zbioru table tbody tr.new_os td select").fancyfields();		
		  $("#osoby_do_zbioru table tbody tr.new_os td select.osoby_select").change(selectos_change);
		  $("#osoby_do_zbioru table tbody tr.new_os td select.osoby_select").change();
		  $(".usun_osobe").unbind('click');
		  $(".usun_osobe").click(function (){
			  $(this).parent().parent().remove();
			  return false;
		  });
	});

	//szablony
//	$("#szablony").fancyfields("bind","onSelectChange", function (input,text,val){
//    	var szablon = szablony[val];
//        if ($('#desc_' + val)) {
//            $('#opis_zbioru').val($('#desc_' + val).val());
//        }
//    	$.each(szablony[val], function(i, item){
//			var pole = $("input[name='pola["+ item +"]']");
//			//console.log(item);
//			if(pole.length)
//			{
//				pole.fancyfields("checked");
//			}
//			else
//			{
//				$("#wlasne_pola").prepend('<input checked="true" type="checkbox" name="pola['+ item +']"><label>'+ item +'</label>');
//			  	$("#wlasne_pola > input[type=checkbox]").fancyfields();
//			}
//        });
//	});
	{/literal}
	var aktywny_szablon = $.parseJSON('{$zbior.opis_pol_zbioru}');
{literal}
	$.each(aktywny_szablon, function (i, item){
		var pole = $("input[name='pola["+ item +"]']");
		if(pole.length)
		{
			pole.fancyfields("checked");
		}
		else
		{
			$("#wlasne_pola").prepend('<input checked="true" type="checkbox" name="pola['+ item +']"><label>'+ item +'</label>');
		  	$("#wlasne_pola > input[type=checkbox]").fancyfields();
		}
	});

	/*$("#szukaj_osoby").keyup(function (){
		var text = $(this).val();
		$("#osoby_do_zbioru table tr").show();
		$("#osoby_do_zbioru table tr td").filter(function (){
			return text.match("/^" + text + ".*$/");
		}).parent('tr').hide();
		
	});*/

	var $rows = $('#osoby_do_zbioru table tr');
	$('#szukaj_osoby').keyup(function() {
	    
	    var val = '^(?=.*\\b' + $.trim($(this).val()).split(/\s+/).join('\\b)(?=.*\\b') + ').*$',
	        reg = RegExp(val, 'i'),
	        text;
	    
	    $rows.show().filter(function() {
	        text = $(this).text().replace(/\s+/g, ' ');
	        return !reg.test(text);
	    }).hide();
	});

	var pola = $.ajax({ async: false, 
		url: '/zbiory/getpola', 
		type: "GET", 
		global: false,
		dataType: "json", 
		success: function(res){
			 return res; 
		}
		}).responseText;
		pola = $.parseJSON(pola);
		$( "#tags" ).autocomplete({
		source: pola
		});
});
{/literal}
</script>
<div class="errors"></div>
<h1 class="page-header">Zbiory</h1>
<form class="fancy dodajzbior" action="/zbiory/save" method="post">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#home" data-toggle="tab">Ogolnie informacja o zbiorze</a></li>
        <li><a href="#pola" data-toggle="tab">Pola zbioru</a></li>
        <li><a href="#aplikacje" data-toggle="tab">Aplikacje</a></li>
        <li><a href="#users" data-toggle="tab">Uzytkownicy</a></li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active form-horizontal" id="home" style="padding:15px 5px">
            <div class="form-group">
                <label for="nazwa" class="col-sm-2 ">Nazwa</label>
                <input class="col-sm-4" type="text" id="nazwa" name="d[nazwa]" value="{$zbior.nazwa}">
            </div>
            <div class="form-group">
                <label for="forma" class="col-sm-2">Forma</label>
                <select id="forma" name="d[formaGromadzeniaDanych]">
                    <option  {if $zbior.formaGromadzeniaDanych == 'papierowa'}selected{/if} value="papierowa">papierowa</option>
                    <option  {if $zbior.formaGromadzeniaDanych == 'elektroniczna'}selected{/if} value="elektroniczna">elektroniczna</option>
                    <option  {if $zbior.formaGromadzeniaDanych == 'papierowa i elektroniczna'}selected{/if} value="papierowa i elektroniczna">papierowa i elektroniczna</option>
                </select>
            </div>
            <div class="form-group">
                <label for="poziom_bezpieczenstwa" class="col-sm-2 ">Poziom bezpieczenstwa</label>
                <select id="poziom_bezpieczenstwa" name="d[poziomBezpieczenstwa]">
                    <option {if $zbior.poziomBezpieczenstwa == 'A'}selected{/if} value="A">A</option>
                    <option {if $zbior.poziomBezpieczenstwa == 'B'}selected{/if} value="B">B</option>
                    <option {if $zbior.poziomBezpieczenstwa == 'C'}selected{/if} value="C">C</option>
                    <option {if $zbior.poziomBezpieczenstwa == 'AB'}selected{/if} value="AB">AB</option>
                </select>
            </div>
            <div class="form-group">
                <label for="pomieszczenia" class="col-sm-2">Pomieszczenia</label>
                <select id="pomieszczenia" name="d[pomieszczenia_id]">
                    {foreach $pomieszczenia as $p}<option {if $p.id==$zbior.pomieszczenia_id}selected{/if} value="{$p.id}">{$p.nazwa}</option>{/foreach}
                </select>
            </div>
            <div class="form-group">
                <label for="giodo" class="col-sm-2">Czy do GIODO</label>
                <select id="giodo" name="d[status]">
                    <option {if $zbior.status == 'zgloszony'}selected{/if} value="zgloszony">zgłoszony</option>
                    <option {if $zbior.status == 'niepodlega'}selected{/if} value="niepodlega">nie podlega</option>
                    <option {if $zbior.status == 'podlega_niezgloszony'}selected{/if} value="podlega_niezgloszony">podlega, nie zgłoszony</option>
                </select>
            </div>
            <div class="form-group">
                <label for="pochodzenie" class="col-sm-2">Pochodzenie danych</label>
                <select id="pochodzenie" name="d[pochodzenie_danych]">
                    <option {if $zbior.pochodzenie_danych== 'od osob ktorych dotycza'}selected{/if} value="od osob ktorych dotycza">od osób, których dotycza</option>
                    <option {if $zbior.pochodzenie_danych== 'z innych zrodel'}selected{/if} value="z innych zrodel">z innych źródeł</option>
                </select>
            </div>
            <div class="form-group">
                <label for="opis_zbioru" class="col-sm-2">Opis zbioru</label>
                <textarea name="d[opis_zbioru]" class="notfancy" rows="5" cols="50" id="opis_zbioru">{$zbior.opis_zbioru}</textarea>
            </div>
            <div class="form-group">
                <label for="szablony" class="col-sm-2">Szablony pól</label>
                <select id="szablony" name="szablony" class="col-sm-3">
                    <option>wybierz</option>
                    {foreach $szablony as $szablon}
                    <option value='{$szablon.id}'>{$szablon.nazwa}</option>
                    {/foreach}
                </select>
            </div>
            {foreach $szablony as $szablon}
            {if $szablon.description}
            <input type="hidden" id="desc_{$szablon.id}" name="desc_{$szablon.id}" value="{$szablon.description}" />
            {/if}
            {/foreach}
        </div>
        <div class="tab-pane" id="pola">
            <fieldset class="container-fluid">
                <legend>Standardowe pola zbioru</legend>
                <div class="row-fluid">
                    <div class="col-sm-3">
                        <label class="col-sm-12"><input type="checkbox" name="pola[imiona]">Imiona</label>
                        <label class="col-sm-12"><input type="checkbox" name="pola[nazwisko]">Nazwisko</label>
                        <label class="col-sm-12"><input type="checkbox" name="pola[adres]">Adres</label>
                        <label class="col-sm-12"><input type="checkbox" name="pola[nip]">NIP</label>
                        <label class="col-sm-12"><input type="checkbox" name="pola[miejsce urodzenia]">Miejsce urodzenia</label>
                    </div>
                    <div class="col-sm-3">
                        <label class="col-sm-12"><input type="checkbox" name="pola[data urodzenia]">Data urodzenia</label>
                        <label class="col-sm-12"><input type="checkbox" name="pola[pesel]">Pesel</label>
                        <label class="col-sm-12"><input type="checkbox" name="pola[nr dowodu]">Nr Dowodu</label>
                        <label class="col-sm-12"><input type="checkbox" name="pola[imiona rodzicow]">Imiona rodziców</label>

                    </div>
                    <div class="col-sm-3">
                        <label class="col-sm-12"><input type="checkbox" name="pola[wyksztalcenie]">Wykształcenie</label>
                        <label class="col-sm-12"><input type="checkbox" name="pola[nr telefonu]">Nr telefonu</label>
                        <label class="col-sm-12"><input type="checkbox" name="pola[adres e-mail]">Adres e-mail</label>
                        <label class="col-sm-12"><input type="checkbox" name="pola[numer konta bankowego]">Numer konta bankowego</label>
                    </div>
                    <div class="col-sm-3">
                        <label class="col-sm-12"><input type="checkbox" name="pola[miejsce pracy]">Miejsce pracy</label>
                        <label class="col-sm-12"><input type="checkbox" name="pola[zawod]">Zawód</label>
                    </div>
                </div>
            </fieldset>
            <fieldset class="container-fluid">
                <legend>Dodatkowe pola zbioru</legend>
                <div class="row-fluid">
                    <div class="col-sm-3">
                        <label class="col-sm-12"><input type="checkbox" name="pola[pochodzenie rasowe]">Pochodzenie rasowe</label>
                        <label class="col-sm-12"><input type="checkbox" name="pola[poglady etniczne]]">Poglądy etniczne</label>
                        <label class="col-sm-12"><input type="checkbox" name="pola[przekonania religijne]">Przekonania religijne</label>
                    </div>
                    <div class="col-sm-3">
                        <label class="col-sm-12"><input type="checkbox" name="pola[przekonania filozoficzne]">Przekonania filozoficzne</label>
                        <label class="col-sm-12"><input type="checkbox" name="pola[przynaleznosc wyznaniowa]">Przynależność wyznaniowa</label>
                        <label class="col-sm-12"><input type="checkbox" name="pola[przynaleznosc partyjna]">Przynależność partyjna</label>
                    </div>
                    <div class="col-sm-3">
                        <label class="col-sm-12"><input type="checkbox" name="pola[przynaleznosc zwiazkowa]">Przynależność związkowa</label>
                        <label class="col-sm-12"><input type="checkbox" name="pola[stan zdrowia]">Stan zdrowia</label>
                        <label class="col-sm-12"><input type="checkbox" name="pola[nalogi]">Nałogi</label>
                    </div>
                    <div class="col-sm-3">
                        <label class="col-sm-12"><input type="checkbox" name="pola[zycie seksualne]">Życie seksualne</label>
                    </div>
            </fieldset>
            <fieldset id="wlasne_pola" style="margin-left:0;">
                <legend>Inne pola zbioru</legend>
                <input style="width:200px;" class="notfancy" id="tags" type="text" placeholder="wpisz pole do dodania">
                <input style="float:left; margin-left:10px;" type="button" value="dodaj pole" id="dodaj_pole2" >
                {*<input style="float:left; margin-left:10px; clear:both;" type="button" id="dodaj_pole" value="dodaj inne pole" >*}
            </fieldset>
        </div>
        <div class="tab-pane" id="aplikacje">
            <table id="app_tab">
                <thead>
                <tr>
                    <th>nazwa</th>
                    <th>wersja</th>
                    <th>zaznacz</th>
                </tr>
                </thead>
                <tbody>
                {foreach $apps as $a}
                <tr>
                    <td>{$a.nazwa|ucfirst}</td>
                    <td>{$a.wersja}</td>
                    <td><input type="checkbox" name="apps[]" value="{$a.id}" {if $a.assigned==1}checked{/if}></td>
                </tr>
                {/foreach}
                </tbody>
            </table>
        </div>
        <div class="tab-pane" id="users">
            <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered example">
                <thead>
                <tr>
                    <th>identyfikator</th>
                    <th>czytanie</th>
                    <th>pozyskiwanie</th>
                    <th>wprowadzanie</th>
                    <th>modyfikacja</th>
                    <th>usuwanie</th>
                </tr>
                </thead>
                <tbody>
                {foreach $osoby as $o}
                <tr class="new_os">
                    <td>
                        {$o.imie} {$o.nazwisko}
                    </td>
                    <td><input {if $u.czytanie == '1'}checked="true"{/if} type="checkbox" class="czy" name="u_{$o.id}[czytanie]"></td>
                    <td><input {if $u.pozyskiwanie == '1'}checked="true"{/if} type="checkbox" class="poz" name="u_{$o.id}[pozyskiwanie]"></td>
                    <td><input {if $u.wprowadzanie == '1'}checked="true"{/if}  type="checkbox" class="wpr" name="u_{$o.id}[wprowadzanie]"></td>
                    <td><input {if $u.modyfikacja == '1'}checked="true"{/if}  type="checkbox" class="mod" name="u_{$o.id}[modyfikacja]"></td>
                    <td><input {if $u.usuwanie == '1'}checked="true"{/if}  type="checkbox" class="usu" name="u_{$o.id}[usuwanie]"></td>
                </tr>
                {/foreach}
                </tbody>
            </table>
        </div>
    </div>



{*
<fieldset id="osoby_do_zbioru">
	<legend>Osoby upoważnione do zbioru</legend>

	<input style="float:left; clear:both;" type="button" class="dodaj_osobe" value="dodaj osobę" >
</fieldset>
*}
<fieldset style="margin-left:0;">
<input type="hidden" name="id" value="{$id}">
<input type="submit" class="btn btn-info" value="Zapisz" />
</fieldset>
</form>