<h3 class="text-center" style="margin-top:0px;margin-bottom:10px;">Wybór dostępnych osób</h3>
<div class="modtop">
    <div class="form-group row">
        <div class="col-sm-12">
            <input type="text" name="searcher" id="searcher" class="form-control" placeholder="Wpisz szukaną frazę" onkeyup="runOptsSearch();"/>
        </div>
    </div>
    {if $chooseMode === 'multi'}
        <div class="form-group row" style="margin-bottom:0px;">
            <div class="col-sm-1">
                <div class="checknew">
                    <input type="hidden" name="showchecked" value="0"/>
                    <input type="checkbox" name="showchecked" id="showchecked" value="1" class="" onclick="runOptsSearch();">
                    <label for="showchecked"></label>
                </div>
            </div>
            <label for="categories" class="col-sm-11">Pokaż na liście tylko zaznaczone pozycje</label>
        </div>
    {/if}
</div>
{if $chooseMode === 'multi'}
    <div class="text-right">
        <input type="button" class="btn btn-default btn-xs js-dial-action" id="checkall" value="Zaznacz wszystkie" data-action="checkall"/>
        <input type="button" class="btn btn-default btn-xs js-dial-action" id="uncheckall" value="Odznacz wszystkie" data-action="uncheckall"/>
    </div>
{/if}
<div style="height:20px"></div>
<div id="optsSearch">
    <div class="alert alert-danger optsnodata"><i class="fa fa-4x fa-exclamation-triangle"></i>
        <div class="floathead">
            <div class="ins">Zmień kryteria wyszukiwania lub skorzystaj z formularza dodawania nowych rekordów znajdującego się poniżej.</div>
        </div>
        <div class="clear"></div>
    </div>
    {foreach $t_data as $d}
        <div class="selopt2bl" id="id{$d.id}" data-id="{$d.id}" data-display-name="{$d.nazwisko} {$d.imie}">{$d.nazwisko} {$d.imie} ({$d.login_do_systemu}) - {$d.stanowisko}</div>
    {/foreach}
</div>
<div style="clear:both;"></div>

<script type="text/javascript">
    setTimeout('$(\'#searcher\').focus()', 500);
    {if $smarty.get.useProcess}
    $('#optsSearch .selopt2bl').on('click', function () {
        if ($(this).hasClass('locked')) {
            return;
        }

        var result = dial.lastDialProcessFn(this.id.replace('id', ''), {
            id: this.id.replace('id', ''),
            displayName: this.getAttribute('data-display-name')
        }, !$(this).hasClass('active'));

        if (result === false) {
            return;
        }

        $(this).toggleClass('active');
    });
    dial.lastDialReadyFn();
    {else}
    runPersonsSel();
    {/if}
</script>