{literal}
<script type="text/javascript">
$(document).ready(function()
{				
	// Initialize the jQuery File Upload widget:      	        	
	$('#fileupload').fileupload({
		url: '/dokumenty/zapiszdodajpliki'                
	}).bind('fileuploadsubmit', function (e, data) {
		// Doesn't have to be part of the upload form:                
		data.formData = {'desc': $('#desc').val()};
	});
});
</script>
{/literal}		
<h1 class="page-header">{$section}</h1>
{$message}
<div class="btn-group row">
</div>

{$attachmentView}
