{$message}
{include file='modals/modal.tpl' title='Podmioty oraz pracownicy - co to jest?' content='W module Czynności przetwarzania znajdują się również dwa rejestry mianowicie osób i podmiotów, którym udostępniamy dane. Dzięki nim możemy zweryfikować listę osób z danego podmiotu zewnętrznego, który odbierał od nas dane.'}
<div class="body-action">
    {if $auth->isGranted('node/companies/create')}
    <a class="btn btn-info" href="{$baseUrl}/update-company">Dodaj firmę</a>
    <a class="btn btn-info" href="{$baseUrl}/update-person">Dodaj osobę</a>
    {/if}
</div>

<div style="height:10px"></div>
<hr class="nomargin"/>
<div style="height:10px"></div>

<form method="post" action="{$baseUrl}/delChecked/">
    <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered example">
        <thead class="ui-widget-header">
        <tr>
            <th></th>
            <th>Nr</th>
            <th>Typ</th>
            <th>Nazwa</th>
            <th>Miasto</th>
            <th>Ilość pracowników</th>
            <th>Operacje</th>
        </tr>
        </thead>
        <tbody class="ui-widget-content">
        {foreach $paginator as $d}
            <tr>
                <td style="width:22px">
                    <input type="checkbox" name="id[]" id="id{$d.id}" value="{$d.id}"/>
                </td>
                <td>{$d@iteration}</td>
                <td>{$typyPodmiotow[$d.type]}</td>
                <td>{$d.name}</td>
                <td>{$d.city}</td>
                <td>{$d.employees_count}</td>
                <td>
                    {if $d.type == 1}<a class="glyphicon glyphicon-list-alt" href="/company-employees/{$d.id}" title="Pracownicy"></a>
                    {/if}
                    {if $auth->isGranted('node/companies/update', ['id' => $d.id])}
                    <a class="glyphicon glyphicon-pencil" href="{$baseUrl}/update/id/{$d.id}" data-toggle="tooltip" title="Edytuj"></a>
                    {/if}
                    {if $auth->isGranted('node/companies/update', ['copy' => $d.id])}
                    <a class="glyphicon glyphicon-star" href="{$baseUrl}/update/copy/{$d.id}" data-toggle="tooltip" title="Duplikuj"></a>
                    {/if}
                    {if $auth->isGranted('node/companies/del', ['id' => $d.id])}
                        <a class="glyphicon glyphicon-trash modal-confirm" data-href="{$baseUrl}/del/id/{$d.id}" data-confirmation-class="singleDelete" data-toggle="tooltip" title="USUŃ"></a>
                    {/if}
                </td>
            </tr>
        {/foreach}
        </tbody>

    </table>
    {if $userIsKodoOrAbi}
        <input type="submit" value="Usuń zaznaczone" class="btn btn-default" onclick="return confirm('Usunąć?')"/>
    {/if}
</form>