<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered example">
    <thead>
        <tr>
            <th data-filter-type="string">Login</th>
            <th data-filter-type="string">Imię i nazwisko</th>
            <th data-filter-type="select" class="text-center">Data odbycia szkolenia</th>
            <th data-filter-type="select" class="text-center">Data odbycia egzaminu</th>
            <th data-filter-type="select-items" class="text-center">Wynik egzaminu</th>
            <th class="text-center">Certyfikat</th>
        </tr>
    </thead>
    {foreach $sessions as $session}
    <tr>
        <td>{$session.login}</td>
        <td>{$session.imie} {$session.nazwisko}</td>
        <td class="text-center">{smart_date value=$session.done_date class="timeago"}</td>
        <td class="text-center">{smart_date value=$session.exam_date class="timeago"}</td>
        <td class="text-center">{if $session.exam_done}{smart_string_select value=$session.exam_result config=$exam_done_status_display}{/if}</td>
        <td class="text-center">{if $session.exam_done}
            <a class="glyphicon glyphicon-download" href="/courses/training-cert/id/{$session.id}/courseid/{$course.id}" data-toggle="tooltip" title="" data-original-title="Pobierz"></a>          
              {/if}
        </td>
    </tr>
    {/foreach}
</table>