<div>
    <div class="table-operations-header">
        {element tag='a' route='registry-entries/ajax-update' routeParams=['registry_id' => $registry.id] attributes=[
            'dialog' => [
                'process' => 'locationReload',
                'new-dialog' => true
            ],
            'class' => 'btn btn-success',
            'icon' => 'plus',
            'tooltip' => 'Dodaj wpis',
            'innerHtml' => 'Dodaj'
        ]}
    </div>

    <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered example">
        <thead>
        <tr>
            <th data-filter-type="date-range">Data zatrudnienia</th>
            <th data-filter-type="date-range">Data zakończenia umowy</th>
            <th data-filter-type="string">Rodzaj umowy</th>
            <th data-filter-type="string">Stanowisko</th>
            <th>Operacje</th>
        </tr>
        </thead>
        <tbody>
        {foreach $paginator as $d}
            <tr>
                <td>{smart_date value=$d.entities_named.date_from}</td>
                <td>{smart_date value=$d.entities_named.date_to}</td>
                <td>{$d.entities_named.contract_type}</td>
                <td>{$d.entities_named.job_position}</td>
                <td class="operations">
                    {element tag='a' route='registry-entries/update' routeParams=['id' => $d.id, 'registry_id' => $d.registry_id] attributes=[
                        'icon' => 'edit',
                        'tooltip' => 'Edytuj'
                    ]}
                    {element tag='a' route='registry-entries/remove' routeParams=['id' => $d.id, 'registry_id' => $d.registry_id] attributes=[
                        'icon' => 'delete',
                        'delete' => 'singleDelete',
                        'tooltip' => 'Usuń'
                    ]}
                </td>
            </tr>
        {/foreach}
        </tbody>
    </table>
</div>