{$message}
{include file='modals/modal.tpl' title='Rejestr zbiorów GIODO - co to jest?' content='Zakładka „Rejestry GIODO” umożliwia opisanie faktu zgłoszenia zbioru danych osobowych, czyli pobranie gotowego wniosku do zgłoszenia w GIODO. Dane do wniosku będą pobierane z danych, które zostały wprowadzone przez użytkownika. Użytkownik również zostaje powiadomiony, jeżeli jakichś danych będzie brakowało lub będą błędne.'}
<div class="body-action">
</div>
<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered example">
    <thead class="ui-widget-header">
    <tr>
        <th data-filter-type="string" class="min-width">id</th>
        <th data-filter-type="string">nazwa</th>
        <th data-filter-type="date-range">utworzono</th>
        <th data-filter-type="date-range">edytowano</th>
        <th data-filter-type="select">status</th>
        <th class="min-width">operacje</th>
    </tr>
    </thead>
    <tbody class="ui-widget-content">
    {foreach $paginator as $d}
        <tr{if $d@iteration > 10} style="display:none"{/if}>
            <td>{$d.id}</td>
            <td>
                {if $auth->isGranted('node/zbiory/profile', ['id' => $d.id])}
                <a class="choose-from-dial" data-dial-url="/zbiory/profile/id/{$d.id}" data-toggle="tooltip" title="SZCZEGÓŁY">{$d.nazwa}</a>
                {/if}
            </td>
            <td>{$d.data_stworzenia|date_format:"%Y-%m-%d"}</td>
            <td>{smart_date value=$d.data_edycji}</td>
            <td>{$d.status}</td>
            <td class="operations nowrap">
                {if $auth->isGranted('node/giodo/wniosekxml', ['id' => $d.id])}
                <a target="_blank" class="glyphicon glyphicon-book" title="Wniosek XML" href="/giodo/wniosekxml/id/{$d.id}" ></a>
                {/if}
            </td>
        </tr>
    {/foreach}
    </tbody>

</table>