<div class="menu-top">
				<div class="tab" style="margin-top:19px;color:#2D2D2D;font-size:17px;border-left:none;border-top:none;float:left;width:380px;"><marquee>{$settings[0].value}</marquee></div>
            	<div class="tab"><a href="{$url}static/index/id/10">{$tr->_('sign up')|ucfirst}</a></div>
                <div class="tab"><a href="{$url}static/index/id/11">{$tr->_('language_certificates')|ucfirst}</a></div>
                <div class="tab"><a href="{$url}static/index/id/12">{$tr->_('exams for companies')|ucfirst}</a></div>
                <div class="tab"><a href="{$url}static/index/id/13">FAQ</a></div>
                {*<div class="tab"><a href="#">Mapa strony</a></div>*}
                <div class="tab last"><a href="{$url}static/index/id/14">{$tr->_('work')|ucfirst}</a></div>
</div>