 {if $cert}<div class="botek">{/if}
 <section class="bottom">
            	<aside class="sitemap">
                	<h2>Mapa strony</h2>
                    <a href="/"><img src="/img/link-arrow.png" alt="arrow"><span>Strona główna</span></a>
                    <a href="/dla-mediow"><img src="/img/link-arrow.png" alt="arrow"><span>Dla mediów</span></a>
                    <a style="margin-right:0px;" href="/kontakt"><img src="/img/link-arrow.png" alt="arrow"><span>Kontakt</span></a>
                    <a  style="margin-right:46px;" class="btm" href="/o-certyfikacie"><img src="/img/link-arrow.png" alt="arrow"><span>O certyfikacie</span></a>
                    <a class="btm" href="/partnerzy"><img src="/img/link-arrow.png" alt="arrow"><span>Partnerzy</span></a>
                </aside>
                <aside class="seemore">
                	<h2>Zobacz również</h2>
                    <a href="/polityka-prywatnosci"><img src="/img/link-arrow.png" alt="arrow"><span>Polityka prywatności</span></a>
                    <a href="/regulamin"><img src="/img/link-arrow.png" alt="arrow"><span>Regulamin</span></a>
                </aside>
                <aside class="otherstuff">
                	<h2>Inne</h2>
                    <a href="http://szyfruj.to"><img src="/img/link-arrow.png" alt="arrow"><span>szyfruj.to</span></a>
                    <a href="http://kryptos.co"><img src="/img/link-arrow.png" alt="arrow"><span>kryptos.co</span></a>
                </aside>
                <aside class="beintouch">
                	<h2>Bądźmy w kontakcie</h2>
                    <a style="margin-left:14px;" href="http://facebook.com/szyfruj.to"><img src="/img/fb_ico.png" alt="facebook icon"></a>
                    <a href="https://plus.google.com/110870958223151384582?prsrc=1"><img src="/img/googlep_ico.png" alt="google plus icon"></a>
                    <a href="http://www.youtube.com/user/KryptosPL?feature=sub_widget_1"><img src="/img/yt_ico.png" alt="youtube icon"></a>
                </aside>
            </section>
            <footer>
            		&copy;2013 <b>Certyfikatbezpieczenstwa.pl</b> - All rights Reserved
            </footer>
        </div>
 {if $cert}</div>{/if}
 		{literal}
 		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		
		  ga('create', 'UA-41124380-3', 'certyfikatbezpieczenstwa.pl');
		  ga('send', 'pageview');
		
		</script>
        {/literal}
 		<div id="cookiebox">Pliki cookie pomagają nam udostępniać nasze usługi. Korzystając z tych usług, zgadzasz się na użycie plików cookie <a class="ok" title="Zgadzam się, nie pokazuj mi tej informacji" href="#zgadzam-sie">OK</a> <a title="polityka prywatności" href="/polityka-prywatnosci">Więcej informacji</a></div>
	</body>
</html>