<div class="flags">
            	<span>{$tr->_('choose_lang')}:</span>
            	<a href="{$url}static/index/id/6"><img src="{$url}pic/flags/gb.png" alt="gb" title="angielski" /></a>
                <a href="{$url}static/index/id/56"><img src="{$url}pic/flags/de.png" alt="de" title="niemiecki" /></a>
                <a href="{$url}static/index/id/57"><img src="{$url}pic/flags/es.png" alt="es" title="hiszpański" /></a>
                <a href="{$url}static/index/id/59"><img src="{$url}pic/flags/ru.png" alt="ru" title="rosyjski" /></a>
                <a href="{$url}static/index/id/58"><img src="{$url}pic/flags/it.png" alt="it" title="włoski" /></a>
                <a href="{$url}static/index/id/60"><img src="{$url}pic/flags/fr.png" alt="fr" title="francuski" /></a>
</div>