<div id="face-slider" class="animate-box-social">
            <div id="tab" class="tab"></div>
            <div id="face-code">
            
            <div id="fb-root"></div>
			<script>(function(d, s, id) {
              var js, fjs = d.getElementsByTagName(s)[0];
              if (d.getElementById(id)) return;
              js = d.createElement(s); js.id = id;
              js.src = "//connect.facebook.net/pl_PL/all.js#xfbml=1&appId=527528617303502";
              fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>
            
            	<div class="fb-like-box" data-href="https://www.facebook.com/szyfruj.to" data-width="287" data-height="290" data-show-faces="true" data-stream="false" data-show-border="false" data-header="true"></div>
            </div>
        </div>
        <div id="yt-slider" class="animate-box-social">
            <div class="tab"></div>
            <div class="yt-code">
            <iframe id="fr" src="http://www.youtube.com/subscribe_widget?p=KryptosPL" style="overflow: hidden; height: 105px; width: 300px; border: 0;"></iframe>
            </div>
        </div>
         <div id="gp-slider" class="animate-box-social">
            <div class="tab"></div>
            <div class="yt-code">
            <div class="g-plus" data-width="287" data-href="https://plus.google.com/110870958223151384582" data-rel="publisher"></div>
         </div>
</div>
<a href="http://i-storage.pl" title="odwiedź nasz sklep" id="sklep_internetowy"><img src="/nimg/sklep_slide.png" alt="sklep" ></a>
<a href="/konkurs.html" title="weź udział w naszym konkursie" id="konkurs_tab"><img src="/nimg/konkurs_tab.png" alt="konkurs" ></a>