<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Kryptos - komunikaty</title>
    <meta name="description" content="Panel Kryptos">
    <link href="/assets/plugins/jqueryui/ui-lightness/jquery-ui-1.10.4.custom.min.css" rel="stylesheet" />
    <link href="/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/assets/plugins/fontello/css/fontello.css" rel="stylesheet" />
    <link href="/assets/plugins/animate-css/animate.min.css" rel="stylesheet" />
    <link href="/assets/plugins/nifty-modal/css/component.css" rel="stylesheet" />
    <link href="/assets/plugins/magnific-popup/magnific-popup.css" rel="stylesheet" />
    <link href="/assets/plugins/ios7-switch/ios7-switch.css" rel="stylesheet" />
    <link href="/assets/plugins/pace/pace.css" rel="stylesheet" />
    <link href="/assets/plugins/sortable/sortable-theme-bootstrap.css" rel="stylesheet" />
    <link href="/assets/plugins/bootstrap-datepicker/css/datepicker.css" rel="stylesheet" />
    <link href="/assets/plugins/jquery-icheck/skins/all.css" rel="stylesheet" />
    <link href="/assets/plugins/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet"/>
    <!-- Extra CSS Libraries Start -->
    <link href="/_gfx/style.css" rel="stylesheet" type="text/css" />
    <link href="/assets/plugins/jquery-datatables/css/dataTables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="/assets/plugins/jquery-datatables/extensions/TableTools/css/dataTables.tableTools.css" rel="stylesheet" type="text/css" />
    <!-- Extra CSS Libraries End -->
    <link href="/_gfx/style-responsive.css" rel="stylesheet" />
    <link href="/assets/plugins/jQuery-Validation-Engine-master/css/validationEngine.jquery.css" rel="stylesheet" type="text/css" />
    <script src="/assets/plugins/jquery/jquery-1.11.1.min.js"></script>
    <script>
        var resizefunc = [];
    </script>
    <script src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/plugins/jqueryui/jquery-ui-1.10.4.custom.min.js"></script>
    <script src="/assets/plugins/jquery-ui-touch/jquery.ui.touch-punch.min.js"></script>
    <script src="/assets/plugins/jquery-detectmobile/detect.js"></script>
    <script src="/assets/plugins/jquery-animate-numbers/jquery.animateNumbers.js"></script>
    <script src="/assets/plugins/ios7-switch/ios7.switch.js"></script>
    <script src="/assets/plugins/fastclick/fastclick.js"></script>
    <script src="/assets/plugins/jquery-blockui/jquery.blockUI.js"></script>
    <script src="/assets/plugins/bootstrap-bootbox/bootbox.min.js"></script>
    <script src="/assets/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
    <script src="/assets/plugins/jquery-sparkline/jquery-sparkline.js"></script>

    <script src="/assets/plugins/sortable/sortable.min.js"></script>
    <script src="/assets/plugins/bootstrap-fileinput/bootstrap.file-input.js"></script>
    <script src="/assets/plugins/bootstrap-select/bootstrap-select.min.js"></script>
    <script src="/assets/plugins/bootstrap-select2/select2.min.js"></script>
    <script src="/assets/plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="/assets/plugins/pace/pace.min.js"></script>
    <script src="/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="/assets/plugins/jquery-icheck/icheck.min.js"></script>

    <!-- Demo Specific JS Libraries -->
    <script src="/assets/plugins/prettify/prettify.js"></script>

    <!-- Page Specific JS Libraries -->
    <script src="/assets/plugins/jquery-datatables/js/jquery.dataTables.min.js"></script>
    <script src="/assets/plugins/jquery-datatables/js/dataTables.bootstrap.js"></script>
    <script type="text/javascript" charset="utf-8" language="javascript" src="/_gfx/js/DT_bootstrap.js"></script>
    <script src="/assets/plugins/jquery-datatables/extensions/TableTools/js/dataTables.tableTools.min.js"></script>

    <script src="/assets/plugins/jQuery-Validation-Engine-master/js/jquery.validationEngine.js" type="text/javascript" ></script>
    <script src="/assets/plugins/jQuery-Validation-Engine-master/js/languages/jquery.validationEngine-pl.js" type="text/javascript" ></script>
    <script src="/assets/plugins/jquery-form/jquery.form.js" type="text/javascript" ></script>


    <script src="/assets/plugins/tinymce/js/tinymce/tinymce.min.js"></script>
    <script src="/_gfx/js/init.js"></script>
    <script src="/_gfx/js/backend_utilities.js"></script>
    <script type="text/javascript" charset="utf-8" language="javascript" src="/_gfx/js/app.js"></script>
    <script type="text/javascript" charset="utf-8" language="javascript">$(document).ready(function () {
        App.init();
    });</script>

</head>
<body class="fixed-left">


<!--        <div class="content-page">-->
<div >

    <div style="padding-bottom: 5px;" class="row-fluid">

    </div>
    <div class="row-fluid">

        <div class="span12" id="space-header" style="padding-left: 20%;padding-right: 20%">
            <div class="widget" id="content-widget">
                <div class="widget-header">
                    <h2><i class="icon-data-science-inv"></i> {$layout->section}</h2>
                </div>
                <div class="widget-content padding">
                    {$layout->content nofilter}
                </div>
            </div>
        </div>
    </div>
    <footer>
        <a target="_blank" href="http://kryptos.co">Kryptos</a> &copy; | System v.1
        <div class="footer-links pull-right">
        </div>

    </footer>
    <!-- Footer End -->
</div>

<!-- ============================================================== -->
<!-- End content here -->
<!-- ============================================================== -->

<!--</div>-->
<!-- End right content -->

</div>
<!-- End of page -->
<!-- the overlay modal element -->
<div class="md-overlay"></div>
<!-- End of eoverlay modal -->
<!--    <script src="/assets/plugins/nifty-modal/js/classie.js"></script>
    <script src="/assets/plugins/nifty-modal/js/modalEffects.js"></script>
    <script src="/_gfx/js/controllers/layout/ui-message.js"></script>-->
</body>
<script type="text/javascript">
    jQuery(document).ready(function () {
        UIMessages.init();
    });
</script>
</html>
