<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Kryptos</title>
    <meta name="description" content="Logowanie do aplikacji ABI.">
    <link href='http://fonts.googleapis.com/css?family=Tinos:400,700,400italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href="/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="/assets/plugins/nifty-modal/css/component.css" rel="stylesheet"/>
    <link href="/_gfx/style.css" rel="stylesheet" type="text/css" />
    <script src="/assets/plugins/jquery/jquery-1.11.1.min.js"></script>
    <script src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/plugins/nifty-modal/js/classie.js"></script>
    <script src="/assets/plugins/nifty-modal/js/modalEffects.js"></script>
    <script src="/assets/plugins/nifty-modal/js/modernizr.custom.js"></script>
    
</head>
<body id="login-page">
    {$layout->content nofilter}
</body>
</html>